<table class="table table-hover">
    <thead>
        <tr>
            <th>№</th>
            <th>Дата приезда</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Место жительства</th>
            <!-- <th>Статус</th> -->
            <th></th>
            <th>Номер документа</th>
            <th colspan="2">Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="courseItem.StudList && courseItem.StudList.length == 0" class="no-hover">
            <td colspan="11" align="center">
                <div class="alert alert-warning">
                    <p>Список пуст</p>
                </div>
            </td>
        </tr>
        <ng-container *ngIf="courseItem.StudList && courseItem.StudList.length != 0">
            <tr *ngFor="let person of courseItem.StudList; index as i" (click)="showInfo.ShowPersonalInfo(person)">
                <td>{{ i + 1 }}</td>
                <td>{{ person.Date | date: "dd.MM.yyyy" }}</td>
                <td>{{ person.surname }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.patername }}</td>
                <td>{{ person.ResidPlace }}</td>
                <!-- <td [ngClass]="{'success': person.Status == 2, 'danger': person.Status == 3 || person.Status == 4}">
                    <span *ngIf="person.Status == 1">Прибыл</span>
                    <span *ngIf="person.Status == 2">Зачислен</span>
                    <span *ngIf="person.Status == 3">Отчислен</span>
                    <span *ngIf="person.Status == 4">Отчислен досрочно</span>
                </td> -->
                <td class="text-center">
                    <button style="margin-bottom:3px;" (click)="ShowContractNumber(person, $event)" *ngIf="person.FormEduc == 2">$</button>
                </td>
                <td>
                    <input class="form-control" type="text" (click)="PreventParentEvent($event)" (keyup)="StartTyping($event, person)" name="docNumber" [(ngModel)]="person.DocNumber" [attr.disabled]="person.change ? null : ''"/>
                </td>
                <td>
                    <button class="btn btn-success btn-block" *ngIf="person.hasChanges" (click)="SaveChanges($event, person)">Сохранить</button>
                    <button class="btn btn-warning btn-block" *ngIf="!person.hasChanges && !person.change" (click)="EditAction($event, person)">№ документа</button>
                    <button class="btn btn-info btn-block" *ngIf="!person.hasChanges && person.change" (click)="EditAction($event, person)">Отмена</button>
                </td>
                <td style="max-width:200px;">
                    <button class="btn btn-danger btn-block" *ngIf="person.hasChanges" (click)="CancelEdit($event, person)">Отмена</button>
                    <button class="btn btn-danger btn-block" (click)="Deduct(person, $event)" *ngIf="!person.hasChanges && person.Status !== 1 && courseItemIsCurrent != 1" tooltip="Создать свидетельство об окончании">Отчислить</button>
                    <div class="btn-group btn-group-justified" role="group" aria-label="buttons">
                        <div class="btn-group">
                            <button class="btn btn-default" *ngIf="person.Status == 1" (click)="DeleteRow(person, $event)">Удалить</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-success" *ngIf="person.Status == 1" (click)="EnterRow(person, $event)">Зачислить</button>
                        </div>
                    </div>
                    <button class="btn btn-danger btn-block" (click)="DeductBeforeEnd(person, $event)" *ngIf="!person.hasChanges && person.Status != 1 && courseItemIsCurrent == 1" tooltip="Отчислить слушателя с курса">Отчислить досрочно </button>
                </td>
            </tr>
        </ng-container>   
    </tbody>
</table>
<ng-template #sure>
    <div class="modal-body text-center">
        <p>Вы уверены, что хотите отчислить этого слушателя?</p>
        <div>
            <button class="btn btn-success" (click)="Yes()">Да</button>
            <button class="btn btn-danger" (click)="No()">Нет</button>
        </div>
    </div>
</ng-template>
<ng-template #sureBeforeEnd>
    <div class="modal-body text-center">
        <p>Вы уверены, что хотите досрочно отчислить этого слушателя?</p>
        <div>
            <button class="btn btn-success" (click)="YesBefore()">Да</button>
            <button class="btn btn-danger" (click)="No()">Нет</button>
        </div>
    </div>
</ng-template>

<ng-template #residInfo>
    <div class="modal-body text-center">
        <div class="form-group">
            <label for="contract-number">Место пребывания</label>
            <input type="text" auto-complete [source]="residList" [(ngModel)]="selectedPerson.ResidPlace" class="form-control" [attr.disabled]="changeResidPlace ? null : ''">
        </div>
        <div *ngIf="!changeResidPlace" >
            <button class="btn btn-warning" (click)="LoadResidList()" >Изменить</button>
            <button class="btn btn-danger" (click)="modal.hide(1)" *ngIf="!changeResidPlace">Закрыть</button>
        </div>
        <div *ngIf="changeResidPlace">
            <button class="btn btn-success" (click)="SaveContractNumber(selectedPerson, 'ResidPlace', selectedPerson.ResidPlace.id)">Сохранить</button>
            <button class="btn btn-danger" (click)="changeResidPlace = false">Отмена</button>
        </div>
    </div>
</ng-template>

<ng-template #contractNumber>
    <div class="modal-body text-center">
        <div class="form-group">
            <label for="contract-number">Номер договора</label>
            <input type="text" [(ngModel)]="selectedPerson.Dic_count" class="form-control" [attr.disabled]="changeContractNumber ? null : ''">
        </div>
        <div *ngIf="!changeContractNumber" >
            <button class="btn btn-warning" (click)="changeContractNumber = true" >Изменить</button>
            <button class="btn btn-danger" (click)="modal.hide(1)" *ngIf="!changeContractNumber">Закрыть</button>
        </div>
        <div *ngIf="changeContractNumber">
            <button class="btn btn-success" (click)="SaveContractNumber(selectedPerson, 'Dic_count', selectedPerson.Dic_count)">Сохранить</button>
            <button class="btn btn-danger" (click)="changeContractNumber = false">Отмена</button>
        </div>
    </div>
</ng-template>
<ng-template #DeductInfo>
    <div class="modal-body row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header"><h4>Внесите данные отчисления</h4></div>
                <div class="content row">
                    <form (ngSubmit)="deductForm.valid && DeductConfirm()" #deductForm="ngForm" novalidate>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>Дата отчисления</label>
                            <input [minDate]="global.minDate" [maxDate]="global.maxDate" #RetrainingDp="bsDatepicker" [bsConfig]="global.bsConfig" bsDatepicker [(ngModel)]="certificate.DateGetDate" required name="sertificate_start" class="date-picker form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>Оценка</label>
                            <select *ngIf="marks.length !== 0" class="form-control" name="mark" [(ngModel)]="certificate.mark" required>
                                <option *ngFor="let mark of marks" value="{{ mark.id }}">{{ mark.value }}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 text-center">
                            <button class="btn btn-success" type="submit">Отчислить</button>
                            <button class="btn btn-danger" type="button" (click)="Cansel($event)">Отмена</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-template>
<ng-template #DeductBeforeInfo>
    <div class="modal-body row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header"><h4>Внесите данные отчисления</h4></div>
                <div class="content row">
                    <form (ngSubmit)="deductBeforeForm.valid && DeductBeforeConfirm(deductinfo)" #deductBeforeForm="ngForm" novalidate>
                        <div class="form-group col-lg-4 col-md-4">
                            <label>Дата отчисления (в приказе)</label>
                            <input [minDate]="global.minDate" [maxDate]="global.maxDate" #RetrainingDp="bsDatepicker" [bsConfig]="global.bsConfig" bsDatepicker [(ngModel)]="deductinfo.DateGetDate" required name="sertificate_start" class="date-picker form-control">
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                            <label>Номер приказа</label>
                            <input type="text" name="orderNumber" [(ngModel)]="deductinfo.orderNumber" class="form-control">
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                            <label>Причина</label>
                            <input type="text" name="reason" [(ngModel)]="deductinfo.reason" class="form-control">
                        </div>
                        <div class="form-group col-lg-12 col-md-12 text-center">
                            <button class="btn btn-success" type="submit">Отчислить</button>
                            <button class="btn btn-danger" (click)="Cansel($event)">Отмена</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-template>