<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>№</th>
            <th>Дата приезда</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Дата рождения</th>
            <th>Статус</th>
            <th></th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="course.StudList.length == 0" class="no-hover">
            <td colspan="9" align="center">
                <div class="alert alert-warning">
                    <p>Список пуст</p>
                </div>
            </td>
        </tr>
        <ng-container *ngIf="course.StudList.length != 0">
            <tr *ngFor="let person of course.StudList; index as i" (click)="showInfo.ShowPersonalInfo(person)">
                <td>{{ i + 1 }}</td>
                <td>{{ person.Date | date: "dd.MM.yyyy" }}</td>
                <td>{{ person.surname }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.patername }}</td>
                <td>{{ person.birthday | date: "dd.MM.yyyy"}}</td>
                <td [ngClass]="{'success': person.Status == 2, 'danger': person.Status == 3}">
                    <span *ngIf="person.Status == 1">Прибыл</span>
                    <span *ngIf="person.Status == 2">Зачислен</span>
                    <span *ngIf="person.Status == 3">Отчислен</span>
                </td>
                <td>
                    <span class="pe-7s-piggy" *ngIf="person.Dic_count != ''"></span>
                </td>
                <td>
                    <button class="btn btn-danger btn-block" (click)="Deduct(person, $event)" *ngIf="course.class == 1" tooltip="Создать свидетельство об окончании">Отчислить</button>
                    <button class="btn btn-danger btn-block" (click)="Deduct(person, $event)" *ngIf="course.class == 2" tooltip="Отчислить слушателя с курса">Отчислить досрочно</button>
                </td>
            </tr>
        </ng-container>   
        <tr class="button">
            <td colspan="9">
                <button class="btn btn-success btn-block" [routerLink]="['../addDoctor/chooseStudent', course.id]" tooltip="Зачислить нового слушателя на этот курс">Зачислить</button>
            </td>
        </tr>
    </tbody>
</table>
<ng-template #sure>
    <div class="modal-body text-center">
        <p>Вы уверены, что хотите отчислить этого слушателя?</p>
        <div>
            <button class="btn btn-success" (click)="Yes()">Да</button>
            <button class="btn btn-danger" (click)="No()">Нет</button>
        </div>
    </div>
</ng-template>
<ng-template #DeductInfo>
    <div class="modal-body row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header"><h4>Внесите данные отчисления</h4></div>
                <div class="content row">
                    <form (ngSubmit)="deductForm.valid && DeductConfirm()" #deductForm="ngForm" novalidate>
                        <div class="form-group col-lg-4 col-md-4">
                            <label>Дата отчисления</label>
                            <input [minDate]="global.minDate" [maxDate]="global.maxDate" #RetrainingDp="bsDatepicker" [bsConfig]="global.bsConfig" bsDatepicker [(ngModel)]="certificate.DateGetDate" required name="sertificate_start" class="date-picker form-control">
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                            <label>Оценка</label>
                            <select *ngIf="marks.length !== 0" class="form-control" name="mark" [(ngModel)]="certificate.mark" required>
                                <option *ngFor="let mark of marks" value="{{ mark.id }}">{{ mark.value }}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                            <label>Номер документа</label>
                            <input type="text" class="form-control" required name="docNumber" [(ngModel)]="certificate.docNumber">
                        </div>
                        <div class="form-group col-lg-12 col-md-12 text-center">
                            <button class="btn btn-success" type="submit">Отчислить</button>
                            <button class="btn btn-danger" (click)="Cansel()">Отмена</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-template>