.form input,
.form-button {
    font-family: Roboto, sans-serif
}

.container,
.form {
    position: relative
}

.login-page {
    width: 860px;
    padding: 8% 0 0;
    margin: auto
}

.form {
    z-index: 1;
    background: #fff;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2), 0 5px 5px 0 #000
}

.form input,
.form select {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px
}

.form button,
.form input[type=submit],
.form-button {
    text-transform: uppercase;
    outline: 0;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 14px;
    cursor: pointer
}

.form-button {
    -webkit-transition: all .3 ease;
    transition: all .3 ease
}

.form button,
.form input[type=submit] {
    font-family: Roboto, sans-serif;
    -webkit-transition: all .3 ease;
    transition: all .3 ease
}

.form button:active,
.form button:focus,
.form button:hover,
.form input[type=submit]:active,
.form input[type=submit]:focus,
.form input[type=submit]:hover {
    background: #43a047
}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px
}

.form .message a {
    color: #4caf50;
    text-decoration: none
}

.form .register-form {
    display: none
}

.form .error {
    border: 1px solid #91221f;
    box-shadow: 0 0 10px 0 #a94442
}

.container {
    zf-index: 1;
    max-width: 300px;
    margin: 0 auto
}

.container:after,
.container:before {
    content: "";
    dfisplay: block;
    clear: both
}

.container .info {
    margin: 50px auto;
    tfext-align: center
}

.container .info h1 {
    margin: 0 0 15px;
    pfadding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px
}

.container .info span a {
    color: #000;
    text-decoration: none
}

.container .info span .fa {
    color: #ef3b3a
}

body {
    font-family: Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

h1 {
    color: #4caf50
}