<!-- ВУЗ -->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="content">
        <fieldset>
          <legend><h5>ВУЗ</h5></legend>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Учреждение образования <small *ngIf="establishment.invalid">*</small></label>
              <input value="info.educational_establishment == null ? 'Не указано' : info.educational_establishment" auto-complete [no-match-found-text]="'Не найдено'" (ngModelChange)="checkValue($event)" [list-formatter]="dataService.DropdownList" [source]="personal_establishments" [attr.disabled]="change ? null : ''" #establishment="ngModel" required [(ngModel)]="info.educational_establishment" name="department" class="form-control">
              <div class="input-group newValue" *ngIf="info.educational_establishment == 0">
                <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="personal_establishments">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'personal_establishment', personal_establishments)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="form-group">
              <label>Факультет <small *ngIf="faculty.invalid">*</small></label>
              <input value="info.faculty == null ? 'Не указано' : info.faculty" auto-complete [no-match-found-text]="'Не найдено'" (ngModelChange)="checkValue($event)" [list-formatter]="dataService.DropdownList" [source]="personal_faculties" [attr.disabled]="change ? null : ''" #faculty="ngModel" required [(ngModel)]="info.faculty" name="faculty" class="form-control">
              <div class="input-group newValue" *ngIf="info.faculty == 0">
                <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="personal_faculties">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'personal_faculty', personal_faculties)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="form-group">
              <label>Дата получения диплома <small *ngIf="diplomaStart.invalid">*</small></label>
              <input value="info.diploma_startDate == null ? 'Не указано' : info.diploma_startDate" [attr.disabled]="change ? null : ''" #diplomaStart="ngModel" required type="text" [(ngModel)]="info.diploma_startDate" [minDate]="globalPrams.minDate" [maxDate]="globalPrams.maxDate" #dp="bsDatepicker" [bsConfig]="globalPrams.bsConfig" bsDatepicker [(bsValue)]="bsValueDiploma" name="diploma_start" class="date-picker form-control">
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="form-group">
              <label>Номер диплома <small *ngIf="diplomaNumber.invalid">*</small></label>
              <input value="info.diploma_number == null ? 'Не указано' : info.diploma_number" [attr.disabled]="change ? null : ''" #diplomaNumber="ngModel" required type="text" [(ngModel)]="info.diploma_number" name="diploma_number" class="form-control">
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<!-- Специальность по диплому -->
<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="card">
      <div class="content">
          <fieldset>
            <legend><h5>Специальность по диплому</h5></legend>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Врачебная <small *ngIf="speciality.invalid">*</small></label>
                <input value="info.speciality_doc == null ? 'Не указано' : info.speciality_doc" auto-complete [no-match-found-text]="'Не найдено'" (ngModelChange)="checkValue($event)" [list-formatter]="dataService.DropdownList" [source]="specialityDocArr" [attr.disabled]="change ? null : ''" #speciality="ngModel" required [(ngModel)]="info.speciality_doc" name="specialityDoc" class="form-control">
                <div class="input-group newValue" *ngIf="info.speciality_doc == 0">
                  <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="speciality_doc">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'speciality_doct', specialityDocArr)">
                      <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="form-group">
                <label>Прочие</label>
                <input value="info.speciality_other == null ? 'Не указано' : info.speciality_other" auto-complete [no-match-found-text]="'Не найдено'" (ngModelChange)="checkValue($event)" [list-formatter]="dataService.DropdownList" [source]="specialityOtherArr" [attr.disabled]="change ? null : ''" [(ngModel)]="info.speciality_other" name="specialityOther" class="form-control">
                <div class="input-group newValue" *ngIf="info.speciality_other == 0">
                  <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="speciality_other">
                  <span class="input-group-btn">
                    <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'speciality_other', specialityOtherArr)">
                      <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </fieldset>
          <!-- Специальность по переподготовке -->
          <fieldset>
            <legend><h5>Специальность по переподготовке</h5></legend>
            <div *ngFor="let retr of info.retrainings">
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label>Переподготовка</label>
                  <input auto-complete [no-match-found-text]="'Не найдено'" (ngModelChange)="checkValue($event)" [list-formatter]="dataService.DropdownList" [source]="specialityRetrArr" [attr.disabled]="change ? null : ''" [(ngModel)]="retr.name" name="specialityRetr-{{retr.id}}" class="form-control">
                </div>
              </div>
              <div class="col-lg-3 col-md-12" *ngIf="retr.speciality_retraining != '' || retr.speciality_retraining != null">
                <div class="form-group">
                  <label>№ диплома</label>
                  <input [attr.disabled]="change ? null : ''" #repNumber="ngModel" [(ngModel)]="retr.diploma_number" required name="speciality_retraining_diploma-{{retr.id}}" class="form-control">
                </div>
              </div>
              <div class="col-lg-3 col-md-12  " *ngIf="info.speciality_retraining != ''">
                <div class="form-group">
                  <label>Дата выдачи <small *ngIf="repDate.invalid">*</small></label>
                  <input [attr.disabled]="change ? null : ''" #repDate="ngModel" [minDate]="globalPrams.minDate" [maxDate]="globalPrams.maxDate" #dp="bsDatepicker" [bsConfig]="globalPrams.bsConfig" bsDatepicker [(ngModel)]="retr.diploma_start" required name="speciality_retraining_diploma_start-{{retr.id}}" class="date-picker form-control">
                </div>
              </div>
            </div>
          </fieldset>
          <!-- Стаж -->
          <fieldset>
            <legend><h5>Стаж</h5></legend>
            <div class="col-lg-4 col-md-4">
              <div class="form-group">
                <label>По специальности <small *ngIf="expSpecial.invalid">*</small></label>
                <input value="info.experiance_special == null ? 'Не указано' : info.experiance_special" [attr.disabled]="change ? null : ''" type="number" #expSpecial="ngModel" required [(ngModel)]="info.experiance_special" name="experiance_special" class="form-control">
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group">
                <label>Общий <small *ngIf="expGeneral.invalid">*</small></label>
                <input value="info.experiance_general == null ? 'Не указано' : info.experiance_general" [attr.disabled]="change ? null : ''" type="number" #expGeneral="ngModel" required [(ngModel)]="info.experiance_general" name="experiance_general" class="form-control">
              </div>
            </div>
            <div class="col-lg-4 col-md-4">
              <div class="form-group">
                <label>В последней должности <small *ngIf="expLast.invalid">*</small></label>
                <input value="info.experiance_last == null ? 'Не указано' : info.experiance_last" [attr.disabled]="change ? null : ''" type="number" #expLast="ngModel" required [(ngModel)]="info.experiance_last" name="experiance_last" class="form-control">
              </div>
            </div>
          </fieldset>
      </div>
    </div>
  </div>
  <!-- Квалификация -->
  <div class="col-lg-6 col-md-6">
    <div class="card">
      <div class="content">
        <fieldset>
           <legend><h5>Квалификация</h5></legend>
           <div class="col-lg-12 col-md-12 no-padding">
             <div class="form-group col-lg-6 col-md-6">
               <label>Врачебная (осн <small *ngIf="qualification.invalid">*</small>.)</label>
               <input value="info.qualification_main == null ? 'Не указано' : info.qualification_main" auto-complete [no-match-found-text]="'Не найдено'" (ngModelChange)="checkValue($event)" [list-formatter]="dataService.DropdownList" [source]="qualificationMainArr" [attr.disabled]="change ? null : ''" required #qualification="ngModel" [(ngModel)]="info.qualification_main" name="qualificationMain" class="form-control">
               <div class="input-group newValue" *ngIf="info.qualification_main == 0">
                <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="qualification_main">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'qualification_main', qualificationMainArr)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
                </span>
              </div>
             </div>
             <div class="form-group col-lg-3 col-md-3">
               <label>Категория</label>
               <select [attr.disabled]="change ? null : ''" name="mainCategory" [(ngModel)]="info.mainCategory" class="form-control">
                 <option value="1">Первая</option>
                 <option value="2">Вторая</option>
                 <option value="3">Высшая</option>
                 <option value="0" selected>Нет</option>
               </select>
             </div>
             <div class="foinfo.mainCategory  == null ? 'Не указано' : info.mainCategory rm-group col-lg-3 col-md-3" *ngIf="info.mainCategory != 0">
               <label>Дата присвоения <small *ngIf="mainCategoryDate.invalid">*</small></label>
               <input value="info.mainCategoryDate == null ? 'Не указано' : info.mainCategoryDate" [attr.disabled]="change ? null : ''" type="text" required [(ngModel)]="info.mainCategoryDate" [minDate]="globalPrams.minDate" [maxDate]="globalPrams.maxDate" #dp="bsDatepicker" [bsConfig]="globalPrams.bsConfig" bsDatepicker [(bsValue)]="bsValueMainCategoryDate" name="mainCategoryDate" class="date-picker form-control" #mainCategoryDate="ngModel">
             </div>
           </div>
           <div class="col-lg-12 col-md-12 no-padding">
             <div class="form-group col-lg-6 col-md-6">
               <label>Врачебная (доп.)</label>
               <input value="info.qualification_add == null ? 'Не указано' : info.qualification_add" auto-complete [no-match-found-text]="'Не найдено'" (ngModelChange)="checkValue($event)" [list-formatter]="dataService.DropdownList" [source]="qualificationAddArr" [attr.disabled]="change ? null : ''" [(ngModel)]="info.qualification_add" name="qualificationAdd" class="form-control">
             </div>
             <div class="form-group col-lg-3 col-md-3">
               <label>Категория</label>
               <select [attr.disabled]="change ? null : ''" name="addCategory" [(ngModel)]="info.addCategory" class="form-control">
                 <option value="1">Первая</option>
                 <option value="2">Вторая</option>
                 <option value="3">Высшая</option>
                 <option value="0" selected>Нет</option>
               </select>
             </div>
             <div class="foinfo.addCategory  == null ? 'Не указано' : info.addCategory rm-group col-lg-3 col-md-3" *ngIf="info.addCategory != 0">
               <label>Дата присвоения <small *ngIf="addCategoryDate.invalid">*</small></label>
               <input value="info.addCategoryDate == null ? 'Не указано' : info.addCategoryDate" auto-complete [no-match-found-text]="'Не найдено'" (ngModelChange)="checkValue($event)" [list-formatter]="dataService.DropdownList" [source]="qualificationOtherArr" [attr.disabled]="change ? null : ''" type="text" required [(ngModel)]="info.addCategoryDate" [minDate]="globalPrams.minDate" [maxDate]="globalPrams.maxDate" #dp="bsDatepicker" [bsConfig]="globalPrams.bsConfig" bsDatepicker [(bsValue)]="bsValueAddCategoryDate" name="addCategoryDate" class="date-picker form-control" #addCategoryDate="ngModel">
             </div>
           </div>
           <div class="col-lg-12 col-md-12">
             <div class="form-group">
               <label>Прочие</label>
               <input value="info.qualification_other == null ? 'Не указано' : info.qualification_other" auto-complete [no-match-found-text]="'Не найдено'" (ngModelChange)="checkValue($event)" [list-formatter]="dataService.DropdownList" [source]="qualificationOtherArr" [attr.disabled]="change ? null : ''" [(ngModel)]="info.qualification_other" name="qualificationOther" class="form-control">
             </div>
           </div>
        </fieldset>
     </div>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 alert alert-danger" *ngIf="autoCopleteError">
    <p>Неправильное использование автозаполнением. Выберите предложенный вариант или создайте новый.</p>
  </div>
</div>