<angular4-notify-notifications-container></angular4-notify-notifications-container>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <form (ngSubmit)="BuildOrder()">
        <div class="col-md-8">
          <div class="card with-hscroll">
            <div class="header">
              <h4 class="title">Выберите курс</h4>
            </div>
            <div class="content">
              <tabset>
                <tab heading="Текущие">
                  <ng-container>
                      <div class="content">
                        <div class="col-lg-6 col-mg-6 col-sm-6">
                          <div class="form-group">
                            <input type="text" name="course-number" id="" placeholder="Поиск по номеру" (keyup)="search($event)" class="form-control">
                          </div>
                          <preloader *ngIf="courses.length === 0" ></preloader>
                          <div class="course-list content" *ngIf="courses.length !== 0 && searchCourses.length === 0">
                              <article class="course course-item" *ngFor="let item of courses" (click)="selectCourse(item)">
                                <span>{{ item.Number }}</span>
                              </article>
                          </div>
                          <div class="course-list content" *ngIf="courses.length !== 0 && searchCourses.length !== 0">
                              <article class="course course-item" *ngFor="let item of searchCourses" (click)="selectCourse(item)">
                                <span>{{ item.Number }}</span>
                              </article>
                          </div>
                        </div>
                        <div class="col-lg-6 col-mg-6 col-sm-6">
                          <h4>Выбрано:</h4>
                          <div class="selected-courses content">
                              <article class="course alert-info" *ngFor="let item of data.selectedCourses">
                                <button type="button" class="close" (click)="unselectCourse(item)"><span class="fa fa-times"></span></button>
                                <span>{{ item.Number }}</span>
                              </article>
                          </div>
                        </div>
                      </div>
                  </ng-container>
                </tab>
                <tab heading="Архив">
                  <archive [selectableRow]="true" (selectedCourses)="catchSelected($event)"></archive>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="header">
              <h4 class="title">Выберите приказ</h4>
            </div>
            <div class="content">
              <a (click)="BuildOrder(1)" class="btn btn-block btn-default" *ngIf="currentUser != undefined && currentUser.is_cathedra != 1">Зачисление</a>
              <a (click)="BuildOrder(0)" class="btn btn-block btn-default" *ngIf="currentUser != undefined && currentUser.is_cathedra != 1">Окончание</a>

              <a (click)="EnterAction(2)" [ngClass]="{'selected': this.data.type ===2}" class="btn btn-block btn-default" *ngIf="currentUser != undefined && currentUser.is_cathedra != 0">Для подписи свидетельств</a>
              <a (click)="EnterAction(3)" [ngClass]="{'selected': this.data.type ===3}" class="btn btn-block btn-default" *ngIf="currentUser != undefined && currentUser.is_cathedra != 0">Ведомость собеседования</a>
            </div>
          </div>
        </div>
      </form>
  </div>
</div>
<ng-template #certificates>
  <div class="modal-body">
    <div class="card">
          <div class="header"> 
            <h4 class="title">Введите необходимые данные</h4>
          </div>
          <div class="content">
              <form #certificateInfo="ngForm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Проректору по учебной работе <small *ngIf="prorector.touched && prorector.invalid" style="color:#f00;">Это поле обязательное</small></label>
                      <input type="text" class="form-control" required name="prorector" [(ngModel)]="data.prorector" #prorector="ngModel">
                    </div>
                    <div class="form-group">
                      <label>Заведующий кафедрой <small *ngIf="headmaster.touched && headmaster.invalid" style="color:#f00;">Это поле обязательное</small></label>
                      <input type="text" class="form-control" required name="headmaster" [(ngModel)]="data.headmaster" #headmaster="ngModel">
                    </div>
                  </div>
          </div>
          <div class="text-center">
            <a (click)="certificateInfo.valid && BuildOrder()" class="btn btn-success">Создать</a>
            <a (click)="modal.hide(1)" class="btn btn-danger">Отмена</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #examlist>
  <div class="modal-body">
    <div class="card">
      <div class="header"> 
        <h4 class="title">Введите необходимые данные</h4>
      </div>
      <div class="content">
        <form #personInfo="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Ведомость № <small *ngIf="DocNumber.touched && DocNumber.invalid" style="color:#f00;">Это поле обязательное</small></label>
                <input type="text" class="form-control" required name="prorector" [(ngModel)]="data.exam_list_numer" #DocNumber="ngModel">
              </div>
              <div class="form-group">
                <label>Дата проведения <small *ngIf="exam_date.touched && exam_date.invalid" style="color:#f00;">Это поле обязательное</small></label>
                <input type="text" #datepicker="bsDatepicker" required bsDatepicker #exam_date="ngModel" [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="data.examDate" [bsConfig]="bsConfig" class="form-control" name="exam_date">
              </div>
            </div>
            <div class="col-md-6">
              <fieldset>
                <legend>Форма контроля знаний</legend>
                <div>
                  <input type="radio" [(ngModel)]="data.exam_form" checked="checked" name="exam_form" class="regular-radio" id="exam_form2" value="Дифференцированный зачёт">
                  <label for="exam_form2"></label>
                  <label for="">Диф. зачёт</label>
                </div>
                <div>
                  <input type="radio" [(ngModel)]="data.exam_form" name="exam_form" class="regular-radio" id="exam_form3" value="Экзамен">
                  <label for="exam_form3"></label>
                  <label for="">Экзамен</label>
                </div>
                <div>
                  <input type="radio" [(ngModel)]="data.exam_form" name="exam_form" class="regular-radio" id="exam_form4" value="Собеседование">
                  <label for="exam_form4"></label>
                  <label for="">Собеседование</label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="text-center">
            <a (click)="personInfo.valid && BuildOrder()" class="btn btn-success" [attr.disabled]="personInfo.valid ? null : ''">Создать</a>
            <a (click)="modal.hide(1)" class="btn btn-danger">Отмена</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>