<div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="header"> 
              <h4 class="title">Информация слушателя</h4>
            </div>
            <div class="content">
              <form name="addNewDoctor" (ngSubmit)="(addNewDoctor.$valid &amp;&amp; SavePerson()) || Error()" novalidate id="AddpersonalInfo">
                <tabset>
                  <tab heading="Личные">
                    <div class="content">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Фамилия</label>
                            <input required only-letters-input type="text" name="name" [(ngModel)]="doctor.surname" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Имя</label>
                            <input required only-letters-input type="text" [(ngModel)]="doctor.name" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Отчество</label>
                            <input required only-letters-input type="text" [(ngModel)]="doctor.patername" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>ФИО в дательном падеже</label>
                            <input required only-letters-input type="text" [(ngModel)]="doctor.in_to_form" placeholder="Например: Иванову Ивану Ивановичу" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Дата рождения</label>
                            <input required type="text" [(ngModel)]="doctor.birthday" class="date-picker form-control">
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="form-group">
                            <label>Учреждение образования</label>
                            <input required type="text" [(ngModel)]="doctor.EstName" id="ee" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-group">
                            <label>Гражданство</label>
                            <input required ype="text" [(ngModel)]="doctor.ResName" id="country" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Канд-т мед. наук</label>
                            <input type="checkbox" [(ngModel)]="doctor.isDoctor" id="KMN" class="regular-checkbox">
                            <label for="KMN"></label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Сотрудник</label>
                            <input type="checkbox" [(ngModel)]="doctor.isCowoker" id="isCowoker" class="regular-checkbox">
                            <label for="isCowoker"></label>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Пол</label>
                            <div>
                              <label>Мужской</label>
                              <input type="radio" name="gender" value="1" [(ngModel)]="doctor.isMale" id="isMale" class="regular-radio">
                              <label for="isMale"></label>
                              <label>Женский</label>
                              <input type="radio" name="gender" value="0" [(ngModel)]="doctor.isMale" id="isFemale" class="regular-radio">
                              <label for="isFemale"></label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Дата получения диплома</label>
                            <input type="text" [(ngModel)]="doctor.diploma_start" class="date-picker form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Должность</label>
                            <input type="text" [(ngModel)]="doctor.AppName" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Контактный телефон</label>
                            <input type="tel" ng-pattern="/^\+375\([0-9]{2}\)[0-9]{3}\-[0-9]{2}\-[0-9]{2}$/" placeholder="+375(__)___-__-__" [(ngModel)]="doctor.tel_number" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Организация</label>
                            <input type="text" [(ngModel)]="doctor.OrgName" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Область</label>
                            <input type="text" [(ngModel)]="doctor.RegName" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label>Опыт работы</label>
                            <div>
                              <input type="number" min="0" max="99" [(ngModel)]="doctor.exp" class="form-control half-width pull-left"><span style="position:absolute; top:50%;">+</span>
                              <input type="number" min="0" max="99" [(ngModel)]="doctor.expAdd" class="form-control half-width pull-right">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Страховой номер</label>
                            <input type="text" [(ngModel)]="doctor.insurance_number" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Отдел</label>
                            <input type="text" [(ngModel)]="doctor.DepName" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Факультет</label>
                            <input type="text" [(ngModel)]="doctor.FacName" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Номер диплома</label>
                            <input type="text" [(ngModel)]="doctor.diploma_number" class="form-control">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <button (click)="ShowEducInfo($event)" class="btn btn-block btn-primary">Далее</button>
                        </div>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Обучение">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Факультет</label>
                          <div >
                            <input required id="faculty-{{ faculty.id }}" type="radio" name="faculty" value="{{ faculty.id }}" [(ngModel)]="doctor.facultyMAPO" class="regular-radio">
                            <label for="faculty-{{ faculty.id }}"></label>
                            <label>{{ faculty.name }}</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Кафедра</label>
                          <input required type="text" [(ngModel)]="doctor.cathedra" id="cathedra" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Курс</label>
                          <input required type="text" [(ngModel)]="doctor.course" id="courseName" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label>Тип обучения</label>
                          <div >
                            <input required id="typeEduc-{{ type.id }}" [(ngModel)]="doctor.educType" type="radio" value="{{ type.id }}" name="typeEduc" class="regular-radio">
                            <label for="typeEduc-{{ type.id }}"></label>
                            <label>{{ type.name }}</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label>Место проживания</label>
                          <div class="form-group">
                            <input required id="residence-{{ resid.id }}" [(ngModel)]="doctor.residence" type="radio" name="residence" value="{{ resid.id }}" class="regular-radio">
                            <label for="residence-{{ resid.id }}"></label>
                            <label>{{ resid.name }}</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Форма обучения</label>
                          <div class="form-group">
                            <input required id="form-{{ form.id }}" [(ngModel)]="doctor.formEduc" type="radio" name="form" value="{{ form.id }} " class="regular-radio">
                            <label for="form-{{ form.id }}"></label>
                            <label>{{ form.name }}</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Направление-счёт</label>
                          <input [(ngModel)]="doctor.accountNumber" type="text" name="accountNumber" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Номер документа</label>
                          <input [(ngModel)]="doctor.numDoc" type="text" name="numDoc" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-2 col-md-offset-4">
                        <button type="submit" class="btn btn-success pull-right">Сохранить</button>
                      </div>
                      <div class="col-md-2">
                        <button (click)="ResetBtn($event)" class="btn btn-danger pull-right">Сбросить</button>
                      </div>
                    </div>
                  </tab>
                </tabset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>