<div class="content">
  <div class="container-fluid">
    <div class="row">
      <form (ngSubmit)="BuildOrder()">
        <div class="col-md-4">
          <div class="card">
            <div class="header">
              <h4 class="title">Выберите даты</h4>
            </div>
            <div class="content">
              <div class="row">
                <div class="col-md-6">
                  <input required type="text" [(ngModel)]="data.dateFrom" [minDate]="minDate" (ngModelChange)="GetCoursesList(data.dateFrom, 0)" [maxDate]="maxDate" #dp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker [(bsValue)]="bsValueFrom" name="DateFrom" #DateFrom="ngModel" class="date-picker form-control">
                </div>
                <div class="col-md-6">
                  <input required type="text" [(ngModel)]="data.dateTo" [minDate]="minDate" (ngModelChange)="GetCoursesList(data.dateTo, 1)" [maxDate]="maxDate" #dp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker [(bsValue)]="bsValueTo" name="DateTo" #DateTo="ngModel" class="date-picker form-control">
                </div>
              </div>
            </div>
            <div class="header">
              <h4 class="title">Выберите приказ</h4>
            </div>
            <div class="content">
              <a (click)="EnterAction(1)" [ngClass]="{'selected': this.data.type ===1}" class="btn btn-block btn-default">Зачисление</a>
              <a (click)="EnterAction(0)" [ngClass]="{'selected': this.data.type ===0}" class="btn btn-block btn-default">Отчисление</a>
              <div class="row">
                <div class="col-md-12">
                  <input type="submit" style="margin-top:20px;" value="Сформировать" class="btn btn-block btn-success">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card with-hscroll">
            <div class="header">
              <h4 class="title">Выберите курс</h4>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-hover table-striped">
                <thead>
                  <th>Номер</th>
                  <th>Название</th>
                  <th>Начало</th>
                  <th>Окончание</th>
                </thead>
                <tbody>
                  <tr *ngIf="message !== ''">
                    <td colspan="5">{{message}}</td>
                  </tr>
                  <tr *ngFor="let course of courses" (click)="selectCourse(course)" [ngClass]="{'selected': data.selectedCourses.indexOf(course) !== -1}" class="clickable-row">
                    <td class="uniqueId">{{ course.Number }} </td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.Start | date: "dd.MM.yyyy"}}</td>
                    <td>{{ course.Finish | date: "dd.MM.yyyy"}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
  </div>
</div>