<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="PIModal.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <tabset>
    <tab heading="Общая" id="tab1">
      <div class="content" *ngIf="person.general">
        <general-info [info]="person.general"></general-info>
      </div>
    </tab>
    <tab heading="Проф. информация">
      <div class="content" *ngIf="person.prof">
        <prof-info [info]="person.prof"></prof-info>
      </div>
    </tab>
  <tab heading="Личная">
    <div class="content" *ngIf="person.personal">
        <private-info [info]="person.personal"></private-info>
      </div>
  </tab>
  <tab heading="Приезды">
    <div class="content" *ngIf="person.general">
      <arrivals [personId]="person.general.id"></arrivals>
    </div>
  </tab>
  <tab heading="Последипломная подготовка">
    <div class="content" *ngIf="person.general">
      <post-diploma [personId]="person.general.id"></post-diploma>
    </div>
  </tab>
  <tab heading="Прочие">
    <div class="content">
      <other-info></other-info>
    </div>
  </tab>
  <tab heading="История">
    <div class="content">
      <history-info></history-info>
    </div>
  </tab>
</tabset>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="PIModal.hide()">Закрыть</button>
</div>