      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="header">
                  <h4 class="title">Выберите параметры отчёта</h4>
                </div>
                <div class="content">
                  <tabset>
                    <tab heading="Личные">
                      <div id="peronalData" class="tab-pane active">
                      <div class="places-buttons">
                        <form>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Учреждение образования</label>
                                <select [(ngModel)]="filterParams.est" (change)="reportAction(1)" class="form-control" name="educational_establishment">
                                  <option *ngFor="let obj of personal_establishments" value="{{obj.id}}">{{obj.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Гражданство</label>
                                <select [(ngModel)]="filterParams.resid" class="form-control" (change)="reportAction(1)" name="cityzenship">
                                  <option *ngFor="let obj of personal_cityzenships" value="{{obj.id}}">{{obj.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Дата получения диплома:</label>
                                <div class="row">
                                  <div class="col-md-6">
                                    <input type="text" [(ngModel)]="filterParams.dipdatefrom" name="diploma_start" id="DipDateFrom" class="form-control">
                                  </div>
                                  <div class="col-md-6">
                                    <input type="text" [(ngModel)]="filterParams.dipdateto" name="diploma_start" id="DipDateTo" class="form-control">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Должность</label>
                                <select [(ngModel)]="filterParams.app" (change)="reportAction(1)" class="form-control" name="appointment">
                                  <option *ngFor="let obj of personal_appointments" value="{{obj.id}}">{{obj.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                
                                <input type="checkbox" (change)="reportAction(1)" [(ngModel)]="filterParams.isDoctor" name="isDoctor" id="kmn" class="regular-checkbox">
                                <label for="kmn"></label>
                                <label>Кандидат медицинских наук</label>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Организация</label>
                                <select [(ngModel)]="filterParams.org" (change)="reportAction(1)" class="form-control" name="organization">
                                  <option *ngFor="let obj of personal_organizations" value="{{obj.id}}">{{obj.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Область</label>
                                <table>
                                  <tr *ngFor="let region of personal_regions">
                                    
                                    <td>
                                      <input type="checkbox" id="region-{{region.id}}" (click)="SelectRegionAction($event)" value="{{ region.id }}" class="regular-checkbox regions">
                                      <label for="region-{{ region.id }}" class="regions"> </label>
                                    </td>
                                    <td>
                                      <label>{{region.name}}</label>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="form-group no-margin">
                                <label>Пол</label>
                                <select [(ngModel)]="filterParams.isMale" class="form-control"  (change)="reportAction(1)" name="isMale" class="form-control">
                                  <option value="true" selected="selected">Мужской</option>
                                  <option value="false">Женский</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group no-margin">
                                <label>Сотрудник</label>
                                <input type="checkbox" [(ngModel)]="filterParams.isCowoker"  (change)="reportAction(1)" name="isCowoker" id="isCowoker" class="regular-checkbox">
                                <label for="isCowoker"></label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group no-margin">
                                <label>Опыт работы</label>
                                <input type="number" [(ngModel)]="filterParams.experiance_general"  (change)="reportAction(1)"  name="experiance_general" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Отдел</label>
                                <select [(ngModel)]="filterParams.dep" (change)="reportAction(1)" class="form-control" name="department">
                                  <option *ngFor="let obj of personal_departments" value="{{obj.id}}">{{obj.name}}</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Факультет</label>
                                <select [(ngModel)]="filterParams.fac"  (change)="reportAction(1)" class="form-control" name="faculty">
                                  <option *ngFor="let obj of personal_faculties" value="{{obj.id}}">{{obj.name}}</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    </tab>
                    <tab heading="Обучение">
                      <div id="educationalData" class="tab-pane">
                      <div class="places-buttons">
                        <form>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Факультет</label>
                                <table>
                                  <tr *ngFor="let faculty of faculties">
                                    <td>
                                      <input type="checkbox" id="faculty-{{faculty.id}}" value="{{faculty.id}}" (click)="SelectFacultyAction($event)" class="regular-checkbox">
                                      <label for="faculty-{{ faculty.id }}"> </label>
                                    </td>
                                    <td>
                                      <label>{{ faculty.name }}</label>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Кафедра</label>
                                <input type="text" [(ngModel)]="filterParams.cathedra" (change)="reportAction()" name="belmapo_cathedra" id="cathedra" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Курс</label>
                                <input type="text" [(ngModel)]="filterParams.course" (change)="reportAction()" name="belmapo_course" id="course" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Форма обучения</label>
                                <table>
                                  <tr *ngFor="let form of educForms">
                                    <td>
                                      <input type="checkbox" id="form-{{form.id}}" (click)="SelectFormAction($event)" name="belmapo_educForm" value="{{ form.id }}" class="regular-checkbox">
                                      <label for="form-{{ form.id }}"> </label>
                                    </td>
                                    <td>
                                      <label>{{ form.name }}</label>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group no-margin">
                                <label>Тип обучения</label>
                                <table>
                                  <tr *ngFor="let educType of educTypes">
                                    <td>
                                      <input type="checkbox" id="educType-{{ educType.id }}" (click)="SelectEducTypeAction($event)" name="belmapo_educType" value="{{ educType.id }}" class="regular-checkbox">
                                      <label for="educType-{{ educType.id }}"> </label>
                                    </td>
                                    <td>
                                      <label>{{ educType.name }}</label>
                                    </td>
                                  </tr>
                                </table>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    </tab>
                  </tabset>
                  <div>
                    <button (click)="BuildReportService()" class="btn btn-success btn-block">Старт</button>
                    <button (click)="ResetService()" class="btn btn-warning btn-block">Сбросить</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card">
                <div class="header">
                  <h4 class="title">Результаты</h4>
                </div>
                <div class="content table-responsive table-full-width">
                  <div class="col-md-2"> 
                    <h5>Всего</h5>
                  </div>
                  <div id="Results" class="col -md-10">
                    <h2>{{ total }}</h2>
                  </div>
                  <table class="table table-hover table-striped">
                    <thead>
                      <th>Параметр</th>
                      <th>Показатель</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let parameter of parameters">
                        <td>{{ parameter.label }}</td>
                        <td>{{ parameter.value }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>