<div class="header">
  <h4 class="title">Статистика</h4>
  <p class="category">Список слушателей</p>
</div>
<div class="one" #one></div>
<div id="List" class="content table-responsive table-full-width">
    <accordion>
      <accordion-group #group *ngFor="let faculty of faculties">
        <div accordion-heading>
          {{ faculty }}
          <i class="pull-right float-xs-right glyphicon"
             [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
        </div>
        <div *ngFor="let cathedra of cathedras">
            <h5>{{ cathedra }}</h5>
            <table class="table table-striped table-hover table-responsive">
                <thead>
                    <tr>
                        <td>Номер</td>
                        <td>Название курса</td>
                        <td>Начало</td>
                        <td>Конец</td>
                    </tr>
                </thead>
                <tbody>
                  <ng-container id="{{course.id}}" *ngFor="let course of coursesList">
                    <tr (click)="showListOfListners($event)">
                        <td>{{course.Number}}</td>
                        <td>{{course.name}}</td>
                        <td>{{course.Start | date: "dd.MM.yy"}}</td>
                        <td>{{course.Finish | date: "dd.MM.yy"}}</td>
                    </tr>
                    <tr *ngIf="course.isOpened">
                      <td colspan="4">
                        <table-list><table-list>
                      </td>   
                    </tr>
                </tbody>
            </table>
        </div>
      </accordion-group>
    </accordion>
</div>