<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="card">
      <div class="content">
        <fieldset>
          <legend><h5>Личная информация</h5></legend>
          <div class="col-lg-4 col-md-4">
            <div class="form-group">
              <label>Фамилия</label>
              <small *ngIf="suname.invalid">*</small>
              <input [attr.disabled]="change ? null : ''" required type="text"  [(ngModel)]="info.surname" name="surname" class="form-control" #suname="ngModel">
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="form-group">
              <label>Имя</label>
              <small *ngIf="name.invalid">*</small>
              <input [attr.disabled]="change ? null : ''" required type="text" [(ngModel)]="info.name" name="name" class="form-control" #name="ngModel">
            </div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="form-group">
              <label>Отчество</label>
              <small *ngIf="patername.invalid">*</small>
              <input [attr.disabled]="change ? null : ''" required type="text" [(ngModel)]="info.patername" name="patername" class="form-control" #patername="ngModel">
            </div>
          </div>
          <div class="col-lg-12 col-md-12" tooltip="{{ info.nameInDativeForm }}">
              <div class="form-group">
                <label>ФИО в дательном падеже</label>
                <small *ngIf="nameInDativeForm.invalid">*</small>
                <input [attr.disabled]="change ? null : ''" required type="text" [(ngModel)]="info.nameInDativeForm" name="nameInDativeForm" #nameInDativeForm="ngModel" placeholder="Например: Иванову Ивану Ивановичу" class="form-control">
              </div>
            </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="card">
      <div class="content">
        <fieldset>
          <legend><h5>Дополнтельная информация</h5></legend>
          <div class="col-lg-4 col-md-4" tooltip="{{ info.appointment }}">
            <div class="form-group">
              <label>Должность</label>
              <input [attr.disabled]="change ? null : ''" auto-complete [list-formatter]="dataService.DropdownList" [no-match-found-text]="'Не найдено'" [source]="personal_appointments" required [(ngModel)]="info.appointment" name="appointment" class="form-control">
              <div class="input-group newValue" *ngIf="info.appointment == 0">
                <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="personal_appointment">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'personal_appointment', personal_appointments)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-8" tooltip="{{ info.organization }}">
            <div class="form-group">
              <label>Учреждение</label>
              <input [attr.disabled]="change ? null : ''" auto-complete [list-formatter]="dataService.DropdownList" [no-match-found-text]="'Не найдено'" [source]="personal_organizations" required [(ngModel)]="info.organization" name="organization" class="form-control">
              <div class="input-group newValue" *ngIf="info.organization == 0">
                <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="organization">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'personal_organizations', personal_organizations)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12" tooltip="{{ info.department }}">
            <div class="form-group">
              <label>Структурное подразделение</label>
              <input [attr.disabled]="change ? null : ''" auto-complete [list-formatter]="dataService.DropdownList" [no-match-found-text]="'Не найдено'" [source]="personal_departments" [(ngModel)]="info.department" name="department" class="form-control">
              <div class="input-group newValue" *ngIf="info.department == 0">
                <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="personal_departments">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'personal_department', personal_departments)">
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>