<div class="content table-responsive table-full-width">
	<accordion *ngIf="archive">
	<preloader *ngIf="!ArchiveIsLoaded"></preloader> 
	  <accordion-group *ngFor="let year of archive.years" (isOpenChange)="DownloadInfo(year.year)">
	    <div accordion-heading>
	      {{ year.year }}
	      <span class="pull-right float-xs-right">{{ year.total }} человек</span>
	    </div>
	    <div>
	    	<!-- <progressbar [value]="year.totalCourses"></progressbar> -->
	      <preloader *ngIf="!ArchiveYearIsLoaded"></preloader>
	      <table class="table table-hover table-striped" *ngIf="selectable">
	        <thead>
	          <th>Номер</th>
	          <th>Название</th>
	        </thead>
	        <tbody>
	          <tr class="clickable-row" *ngFor="let course of archive[year.year]" (click)="selectCourse(course)" [ngClass]="{'selected': selectedCourses.indexOf(course) !== -1}">
	            <td class="uniqueId">{{course.Number}}</td>
	            <td>{{ course.name }}</td>
	          </tr>
	        </tbody>
	      </table>
	      <accordion *ngIf="!selectable">
	      	<accordion-group *ngFor="let course of archive[year.year]" (isOpenChange)="DownloadCourseInfo(course, $event)">
	      		<div accordion-heading >
	      			{{ course.Number}} - {{ course.name }}
	      			<span class="pull-right float-xs-right">{{ course.total }} человек</span>		
	      		</div>
	      		<div>
	      			<preloader *ngIf="!course.ArchiveCourseIsLoaded"></preloader>
					<table-certificates *ngIf="course.ArchiveCourseIsLoaded === true" [certificates]="archive['course-' + course.id]"></table-certificates>
					<preloader path="assets/img/Elipsis.gif" *ngIf="course.isLoading"></preloader>
					<button class="btn btn-block btn-success" (click)="DownloadMore(course)" *ngIf="!course.endOflist && !course.isLoading">Ещё слушатели</button>
	      		</div>
	      	</accordion-group>
	      	<preloader path="assets/img/Elipsis.gif" *ngIf="year.isLoading"></preloader>
	      	<button class="btn btn-block btn-success" *ngIf="!year.isLoading" style="margin-top:20px" (click)="DownloadMoreCourses(year)">Ещё курсы</button>
	      </accordion>
	    </div>
	  </accordion-group>
	</accordion>
</div>