navbar .navbar-collapse,
thead th {
    text-align: center
}

body {
    background: #f2f2f2;
    color: #333;
    font-size: 18.74px;
    font-family: 'Open Sans', sans-serif
}

section {
    height: 100vh
}

.background-grey {
    background: #f6f2f2
}

.navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top
}

.navbar-nav>li>a {
    padding: 30px;
    text-transform: uppercase
}

.main-panel>.content
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background: #ff3f40
}

.btn-danger {
    background: #ff2d2d
}

.btn-lg {
    font-size: 24.09px;
    padding: 21px 63px
}

.btn {
    font-weight: 700
}

.table-full-width {
    overflow: scroll
}

.no-margin {
    margin: 0
}

.range-slider {
    border: 1px solid #ddd;
    margin: 1.11111rem 0;
    position: relative;
    -ms-touch-action: none;
    touch-action: none;
    display: block;
    height: .88889rem;
    width: 100%;
    background: #fafafa
}

.range-slider-handle {
    border: 1px solid;
    cursor: pointer;
    display: inline-block;
    height: 1.22222rem;
    position: absolute;
    top: -.27778rem;
    width: 1.77778rem;
    z-index: 1;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background: #008cba
}

.range-slider-active-segment {
    background: #e5e5e5;
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    display: inline-block;
    height: .77778rem;
    position: absolute
}

.modalInfo {
    width: 100%;
    padding: 20px;
    background: rgba(203, 203, 210, .15)
}

.button-group {
    margin-right: 10px
}

.inline,
.inline-add {
    display: initial!important;
    width: 80%!important;
    margin-left: 10px;
    margin-bottom: 10px
}

personal-info .inline{
    width: 90%!important;
}
.inline-add {
    width: 30%!important;
    margin-left: 0;
    margin-bottom: 0
}

.group-left {
    border-radius: 4px 0 0 4px!important;
    padding: 8px!important;
    border-left: 1px solid #ddd!important;
    border-top: 1px solid #ddd!important;
    height: initial!important
}

.group-right {
    border-radius: 0 4px 4px 0!important;
    border-left: none!important
}

.fixed_width {
    display: block;
    margin-top: 10px;
    margin-left: 20px
}

#canselRefresh,
#personalQu,
#personalSp,
#save,
.regular-checkbox,
.regular-radio {
    display: none
}
.card form#personalInfo [class*="col-"]{
    padding-top:0;
    padding-bottom: 0;
}
.card form#personalInfo [class*="col-"] input{
    margin-left: 0;
    margin-bottom: 0;
    padding: .375rem .75rem;
}

.card form#personalInfo .col-form-label{
    padding-top: calc(.375rem + 3px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    line-height: 1.5;
}
.inline[readonly] {
    background: 0 0!important;
    border: none!important;
    color: #000!important;
    cursor: initial!important
}

.initial-width {
    width: initial!important
}

.minimize-margin {
    margin: 10px 0!important
}

.card-navigation {
    padding: 20px
}

.specialities {
    padding: 20px;
    background: rgba(203, 203, 210, .15);
    width: 95%;
    margin: auto
}

.speciality {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px
}

.add,
.save {
    padding: 1px;
    background: 0 0;
    border: none
}

.add:hover span,
.save:hover span {
    color: #333
}

.save span {
    color: #00f
}

span.fa-plus {
    color: #0f0
}

.regular-checkbox:checked+label,
.regular-radio:checked+label {
    background-color: #e9ecee;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05), inset 15px 10px -12px rgba(255, 255, 255, .1);
    color: #99a1a7
}

.regular-checkbox:checked+label:after,
.regular-radio:checked+label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
    color: #0f0
}

.regular-radio:checked+label:after {
    content: '\25CF';
    font-size: 24px;
    top: -7.52px;
    left: 2px
}

.regular-checkbox+label,
.regular-radio+label {
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05), inset 0 -15px 10px -12px rgba(0, 0, 0, .05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    margin-bottom: -5px!important;
    margin-left: 5px;
    margin-right: 10px
}

.regular-radio+label {
    border-radius: 50%;
    margin-right: 10px
}

.regular-checkbox+label:hover,
.regular-radio+label:hover {
    cursor: pointer
}

.half-width {
    width: 40%!important;
    display: inline-block!important;
    margin-right: 10px
}

.ng-invalid.ng-dirty {
    border-color: #fa787e!important
}

.ng-valid.touched {
    border-color: #78fa89!important
}

.with-hscroll {
    overflow: scroll;
}

.selectedRow {
    background: #9368E9 !important;
    color: #fff;
}

.table-selectable tr {
    cursor: pointer;
}

menu {
    margin: 0px;
}

personal-info{
    display: none;
    width:80%;
}
.panel-heading:hover {
    cursor: pointer;
}
.panel-body{
    margin-left:30px;
}
.panel-body>[ng-repeat]{
    overflow-x:scroll;
}
.table-hover tr:hover{
    cursor:pointer;
}
.sidebar .sidebar-wrapper{
    height:initial;
}