
      <div class="row">
        <div class="col-md-12">
          <preloader *ngIf="isLoaded === false"></preloader>
          <div *ngIf="isLoaded !== false">
            <div class="content">
              <form (ngSubmit)="(addForm.valid && fillLastInfo(setLastInfoTpl))" novalidate id="AddpersonalInfo" #addForm="ngForm">
                <tabset #tabSet>
                  <tab heading="Паспорт">
                    <div class="content">
                      <div class="row">
                        <div class="col-lg-12 col-md-12">
                          <form>
                             <div class="col-lg-12 col-md-12 col-md-12">
                               <div class="form-group">
                                  <label for="">Идентификационный номер (в паспорте)</label>
                                  <div class="input-group">
                                    <span class="input-group-btn">
                                      <a class="btn btn-danger" [routerLink]="['../../chooseStudent', courseId]">Отмена</a>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Введите идентификационный номер" name="id" [(ngModel)]="newPerson.personal.insurance_number" #id="ngModel">
                                    <span class="input-group-btn">
                                      <button class="btn btn-success" (click)="Check()" [attr.disabled]="id.valid == false ? '': null">Проверить</button>
                                    </span>
                                  </div>
                                </div>
                             </div>
                             <div class="col-lg-12 col-md-12" *ngIf="id.invalid">
                               <div class="alert alert-danger">
                                  <p>Неправильный формат индетификационного номера. Номер должен соответствовать формату "Ц ЦЦЦЦЦЦ Б ЦЦЦ ББ Ц"</p>
                                </div>
                             </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Общая" [disabled]="!activateTab">
                    <div class="content">
                      <div class="row">
                        <div class="col-md-12 no-padding">
                          <fieldset>
                            <legend><h5>Личная информация</h5></legend>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Фамилия</label>
                                <input required type="text"  [pattern]="'^[А-Я]{1}[а-я]*$'" [(ngModel)]="newPerson.general.surname" name="surname" class="form-control" #suname="ngModel">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Имя</label>
                                <input required type="text" [pattern]="'^[А-Я]{1}[а-я]*$'" [(ngModel)]="newPerson.general.name" name="name" class="form-control" #name="ngModel">
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Отчество</label>
                                <input required type="text" [pattern]="'^[А-Я]{1}[а-я]*$'" [(ngModel)]="newPerson.general.patername" name="patername" class="form-control" #patername="ngModel">
                              </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                  <label>ФИО в дательном падеже</label>
                                  <input required type="text" [(ngModel)]="newPerson.general.nameInDativeForm" name="nameInDativeForm" #nameInDativeForm="ngModel" placeholder="Например: Иванову Ивану Ивановичу" class="form-control">
                                </div>
                              </div>
                          </fieldset>
                        </div>
                      </div>
                      <div class="row">
                        <fieldset>
                          <legend><h5>Дополнтельная информация</h5></legend>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Должность</label>
                              <input required auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" [(ngModel)]="newPerson.general.appointment" [source]="personal_appointments" name="appointment" class="form-control">
                              <div class="input-group newValue" *ngIf="newPerson.general.appointment == 0">
                                <input type="text" class="form-control" required placeholder="Введите новое значение" [(ngModel)]="newValue" name="personal_appointmen">
                                <span class="input-group-btn">
                                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'personal_appointment', personal_appointments)">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                  </button>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Учреждение</label>
                              <input auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" required [(ngModel)]="newPerson.general.organization" [source]="personal_organizations" name="organization" class="form-control">
                              <div class="input-group newValue" *ngIf="newPerson.general.organization == 0">
                                <input type="text" class="form-control" required placeholder="Введите новое значение" [(ngModel)]="newValue" name="personal_organizati">
                                <span class="input-group-btn">
                                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'personal_organizations', personal_organizations)">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                  </button>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Структурное подразделение</label>
                              <input auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" [(ngModel)]="newPerson.general.department" [source]="personal_departments" name="department" class="form-control">
                              <div class="input-group newValue" *ngIf="newPerson.general.department == 0">
                                <input type="text" class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="personal_department">
                                <span class="input-group-btn">
                                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'personal_department', personal_departments)">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                  </button>
                                </span>
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <a class="btn btn-primary" [routerLink]="['../../chooseStudent', courseId]">Назад</a>
                        <button type="reset" class="btn btn-danger">Сбросить</button>
                        <button class="btn btn-success" (click)="NextTab(1)">Далее</button>
                      </div>
                    </div>
                  </tab>
                  <tab heading="Проф. информация" [disabled]="!activateTab"> 
                    <div class="content">
                      <!-- ВУЗ -->
                      <div class="row">
                        <fieldset>
                          <legend><h5>Учебное заведение</h5></legend>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Название</label>
                              <input #establishment="ngModel" auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" required [(ngModel)]="newPerson.profesional.educational_establishment" [source]="personal_establishments" name="establishment" class="form-control">
                              <div class="input-group newValue" *ngIf="newPerson.profesional.educational_establishment == 0">
                                <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="personal_establishm">
                                <span class="input-group-btn">
                                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'personal_establishment', personal_establishments)">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                  </button>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label>Факультет</label>
                              <input #faculty="ngModel" required auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" [(ngModel)]="newPerson.profesional.faculty" [source]="personal_faculties" name="faculty" class="form-control">
                              <div class="input-group newValue" *ngIf="newPerson.profesional.faculty == 0">
                                <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="personal_faculty">
                                <span class="input-group-btn">
                                  <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'personal_faculty', personal_faculties)">
                                    <span class="glyphicon glyphicon-floppy-disk"></span>
                                  </button>
                                </span>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 no-padding">
                            <div class="col-md-6 col-sm-12">
                              <div class="form-group">
                                <label>Дата получения диплома</label>
                                <input #diplomaStart="ngModel" required type="text" [(ngModel)]="newPerson.profesional.diploma_startDate" [minDate]="minDate" [maxDate]="maxDate" #DiplomaStartDp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker [(bsValue)]="bsValueDiploma" name="diploma_start" class="date-picker form-control">
                              </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <div class="form-group">
                                <label>Номер диплома</label>
                                <input #diplomaNumber="ngModel" required type="text" [(ngModel)]="newPerson.profesional.diploma_number" name="diploma_number" class="form-control">
                              </div>
                            </div>
                          </div>
                        </fieldset>
                      </div>
                      <!-- Специальность по диплому -->
                      <div class="row">
                        <div class="col-md-6 no-padding">
                          <fieldset>
                            <legend><h5>Специальность по диплому</h5></legend>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Врачебная</label>
                                <input #speciality="ngModel" auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" required [(ngModel)]="newPerson.profesional.speciality_doc" [source]="specialityDocArr" name="specialityDoc" class="form-control">
                                <div class="input-group newValue" *ngIf="newPerson.profesional.speciality_doc == 0">
                                  <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="speciality_doc">
                                  <span class="input-group-btn">
                                    <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'speciality_doc', specialityDocArr)">
                                      <span class="glyphicon glyphicon-floppy-disk"></span>
                                    </button>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Прочие</label>
                                <input auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" [(ngModel)]="newPerson.profesional.speciality_other" [source]="specialityOtherArr" name="specialityOther" class="form-control">
                                <div class="input-group newValue" *ngIf="newPerson.profesional.speciality_other == 0">
                                  <input type="text" required class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="speciality_other">
                                  <span class="input-group-btn">
                                    <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'speciality_other', specialityOtherArr)">
                                      <span class="glyphicon glyphicon-floppy-disk"></span>
                                    </button>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </fieldset>
                          <!-- Специальность по переподготовке -->
                          <fieldset>
                            <legend><h5>Специальность по переподготовке</h5></legend>
                            <div *ngFor="let rep of newPerson.profesional.speciality_retraining; let i = index;">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Переподготовка</label>
                                  <input auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" [(ngModel)]="rep.name" [source]="specialityRetrArr" name="specialityRetr-{{i}}" class="form-control">
                                </div>
                              </div>
                              <div class="col-md-3" *ngIf="rep.name != ''">
                                <div class="form-group">
                                  <label>№ диплома</label>
                                  <input #repNumber="ngModel" [(ngModel)]="rep.diploma_number" required name="speciality_retraining_diploma-{{i}}" class="form-control">
                                </div>
                              </div>
                              <div class="col-md-3" *ngIf="rep.name != ''">
                                <div class="form-group">
                                  <label>Дата выдачи</label>
                                  <input [minDate]="minDate" [maxDate]="maxDate" #RetrainingDp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker [(ngModel)]="rep.diploma_startDate" required name="diploma_start-{{i}}" class="date-picker form-control">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <button class="btn btn-primary btn-block" (click)="AddRetraining()">Добавить</button>
                              <button class="btn btn-danger btn-block" *ngIf="newPerson.profesional.speciality_retraining.length != 0" (click)="RemoveRetraining()">Отмена</button>
                            </div>
                          </fieldset>
                          <!-- Стаж -->
                          <fieldset>
                            <legend><h5>Стаж</h5></legend>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label tooltip="Общий стаж">Общий (лет)</label>
                                <input type="number" tooltip="Общий стаж" #expGeneral="ngModel" min="0" required [(ngModel)]="newPerson.profesional.experiance_general" name="experiance_general" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label tooltip="Стаж по специальности">По специальности</label>
                                <input tooltip="Стаж по специальности" type="number" #expSpecial="ngModel" min="0" max="{{newPerson.profesional.experiance_general}}" required (change)="ValidateExp($event)" [(ngModel)]="newPerson.profesional.experiance_special" name="experiance_special" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label tooltip="Стаж в последней должности">В последней должности</label>
                                <input tooltip="Стаж в последней должности" type="number" #expLast="ngModel" min="0" max="{{newPerson.profesional.experiance_general}}" required (change)="ValidateExp($event)" [(ngModel)]="newPerson.profesional.experiance_last" name="experiance_last" class="form-control">
                              </div>
                            </div>
                          </fieldset>
                        </div>
                        <!-- Квалификация -->
                        <div class="col-md-6 no-padding">
                          <fieldset>
                            <legend><h5>Квалификация</h5></legend>
                            <div class="col-md-12 no-padding">
                              <div class="form-group col-md-6">
                                <label>Врачебная (осн.)</label>
                                <input auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" required #qualification="ngModel" [(ngModel)]="newPerson.profesional.qualification_main" [source]="qualificationMainArr" name="qualificationMain" class="form-control">
                              </div>
                              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label>Категория</label>
                                <select name="mainCategory" [(ngModel)]="newPerson.profesional.mainCategory" class="form-control">
                                  <option value="1">Первая</option>
                                  <option value="2">Вторая</option>
                                  <option value="3">Высшая</option>
                                  <option value="0">Нет</option>
                                </select>
                              </div>
                              <div class="form-group col-lg-12 col-md-12" *ngIf="newPerson.profesional.mainCategory != 0">
                                <label>Дата присвоения</label>
                                <input type="text" required [(ngModel)]="newPerson.profesional.mainCategoryDate" [minDate]="minDate" [maxDate]="maxDate" #QualificationMainDp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker [(bsValue)]="bsValueMainCategoryDate" name="mainCategoryDate" class="date-picker form-control" #mainCategoryDate="ngModel">
                              </div>
                            </div>
                            <div class="col-md-12 no-padding">
                              <div class="form-group col-md-6">
                                <label>Врачебная (доп.)</label>
                                <input auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" [(ngModel)]="newPerson.profesional.qualification_add" [source]="qualificationAddArr" name="qualificationAdd" class="form-control">
                              </div>
                              <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                <label>Категория</label>
                                <select name="addCategory" [(ngModel)]="newPerson.profesional.addCategory" class="form-control">
                                  <option value="1">Первая</option>
                                  <option value="2">Вторая</option>
                                  <option value="3">Высшая</option>
                                  <option value="0" selected>Нет</option>
                                </select>
                              </div>
                              <div class="form-group col-lg-12 col-md-12" *ngIf="newPerson.profesional.addCategory != 0">
                                <label>Дата присвоения</label>
                                <input type="text" required [(ngModel)]="newPerson.profesional.addCategoryDate" [minDate]="minDate" [maxDate]="maxDate" #QualificationAddDp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker [(bsValue)]="bsValueAddCategoryDate" name="addCategoryDate" class="date-picker form-control" #addCategoryDate="ngModel">
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>Прочие</label>
                                <input auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" [(ngModel)]="newPerson.profesional.qualification_other" [source]="qualificationOtherArr" name="qualificationOther" class="form-control">
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <a class="btn btn-primary" (click)="NextTab(0)">Назад</a>
                          <button type="reset" class="btn btn-danger">Сбросить</button>
                          <button class="btn btn-success" (click)="NextTab(2)">Далее</button>
                        </div>
                    </div>
                  </tab>
                  <tab heading="Личная" [disabled]="!activateTab">
                    <div class="content">
                      <div class="row">
                        <div class="col-md-6 no-padding">
                          <fieldset>
                            <legend><h5>Основная информация</h5></legend>
                            <div class="col-md-4 col-sm-6">
                              <div class="form-group">
                                <label>Дата рождения</label>
                                <input required type="text" [(ngModel)]="newPerson.personal.birthdayDate" #birthday [minDate]="minDate" [maxDate]="maxDate" #BirthdayDp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker [(bsValue)]="bsValueBirthday" name="birthdayDate" class="date-picker form-control" #birthdayDate="ngModel">
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                              <label>Пол</label>
                              <div class="col-md-12 no-padding">
                                <div class="col-md-6 col-md-6 col-sm-6 no-padding text-center">
                                  <input type="radio"  value="true" [(ngModel)]="newPerson.personal.isMale" [attr.checked]="newPerson.personal.isMale == true ? '' : null" name="isMale" id="isMale" class="regular-radio-gender">
                                  <label for="isMale" class="fa fa-male" style="font-size:2em;">
                                  </label>
                                </div>
                                <div class="col-md-6 col-md-6 col-sm-6 no-padding text-center">
                                  <input type="radio"  value="false" [(ngModel)]="newPerson.personal.isMale" [attr.checked]="newPerson.personal.isMale == false ? '' : null" name="isMale" id="isFemale" class="regular-radio-gender">
                                  <label for="isFemale" class="fa fa-female" style="font-size:2em;">
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                              <div class="form-group">
                                <label>Гражданство</label>
                                <input auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" required [(ngModel)]="newPerson.personal.cityzenship" [source]="personal_cityzenships" #cityzenship="ngModel" name="cityzenship" class="form-control">
                                <div class="input-group newValue" *ngIf="newPerson.personal.cityzenship == 0">
                                  <input required type="text" class="form-control" placeholder="Введите новое значение" [(ngModel)]="newValue" name="countries')">
                                  <span class="input-group-btn">
                                    <button class="btn btn-success" type="button" (click)="saveNewParameter(newValue, 'countries', personal_cityzenships)">
                                      <span class="glyphicon glyphicon-floppy-disk"></span>
                                    </button>
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                              <div class="form-group">
                                <label>Домашний телефон</label>
                                <!-- [pattern]="'[(]{1}[0-9]{2}[)]{1}[0-9]{3}[-]{1}[0-9]{2}[-]{1}[0-9]{2}'" -->
                                <input type="text" placeholder="(00)000-00-00" (focus)="NumberStartHome()" (keyup)="createMaskHome($event)" maxlength="13" #home_phone="ngModel" [(ngModel)]="newPerson.personal.tel_number_home" name="tel_number_home" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                              <div class="form-group">
                                <label>Рабочий телефон</label>
                                <!-- [pattern]="'[(]{1}[0-9]{2}[)]{1}[0-9]{3}[-]{1}[0-9]{2}[-]{1}[0-9]{2}'" -->
                                <input type="text" placeholder="(00)000-00-00" (focus)="NumberStartWork()" (keyup)="createMaskWork($event)" maxlength="13" #work_phone="ngModel" [(ngModel)]="newPerson.personal.tel_number_work" name="tel_number_work" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                              <div class="form-group">
                                <label>Мобильный телефон</label>
                                <!-- [pattern]="'[(]{1}[0-9]{2}[)]{1}[0-9]{3}[-]{1}[0-9]{2}[-]{1}[0-9]{2}'" -->
                                <input type="text" placeholder="(00)000-00-00" (focus)="NumberStartMobile()" (keyup)="createMaskMobile($event)" maxlength="13" #mob_phone="ngModel" [(ngModel)]="newPerson.personal.tel_number_mobile" name="tel_number_mobile" class="form-control">
                              </div>
                            </div>
                          </fieldset>
                        </div>
                        <div class="col-md-6 no-padding">
                          <fieldset>
                            <legend><h5>Домашний адрес</h5></legend>
                            <div class="col-md-4 col-sm-6">
                              <div class="form-group">
                                <label>Страна</label>
                                <input auto-complete auto-select-first-item="true" (valueChanged)="checkAutoCountry($event)" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" [source]="personal_cityzenships" [(ngModel)]="newPerson.personal.country" name="country" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6" *ngIf="newPerson.personal.country == 'Беларусь'">
                              <div class="form-group">
                                <label>Область</label>
                                <input auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" (valueChanged)="checkAutoRegion($event)" [list-formatter]="DropdownList" [source]="personal_regions" type="text" [(ngModel)]="newPerson.personal.region" name="region" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                              <div class="form-group">
                                <label>Населённый пункт</label>
                                <input auto-complete auto-select-first-item="true" [max-num-list]="10" [no-match-found-text]="'Добавить'" [list-formatter]="DropdownList" [source]="personal_cities" type="text" [(ngModel)]="newPerson.personal.city" name="cityName" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                              <div class="form-group">
                                <label>Улица</label>
                                <input type="text" [(ngModel)]="newPerson.personal.street" name="street" class="form-control">
                              </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 no-padding">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Дом/корпус</label>
                                  <input type="tel" [(ngModel)]="newPerson.personal.building" name="building" class="form-control">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label>Квартира</label>
                                  <input type="tel" [(ngModel)]="newPerson.personal.flat" name="flat" class="form-control">
                                </div>
                              </div>
                            </div>
                          </fieldset>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <a class="btn btn-primary" (click)="NextTab(1)">Назад</a>
                          <button type="reset" class="btn btn-danger">Сбросить</button>
                          <button class="btn btn-success" (click)="NextTab(3)">Далее</button>
                        </div>
                    </div>
                  </tab>
                  <tab heading="Научная деятельность" [disabled]="!activateTab">
                    <div class="content">
                      <fieldset>
                        <legend><h5>Звание</h5></legend>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="radio" name="isDoctor" class="regular-radio" id="Candidate" [(ngModel)]="newPerson.sience.isDoctor" value="1">
                              <label for="Candidate"></label>
                              <label>Кандидат медицинских наук</label>

                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="radio" name="isDoctor" class="regular-radio" id="Doctor" [(ngModel)]="newPerson.sience.isDoctor" value="2">
                              <label for="Doctor"></label>
                              <label>Доктор медицинских наук</label>

                            </div>
                          </div>
                        </div>
                      </fieldset>
                      <fieldset>
                        <legend><h5>Степени, награды, изобретения</h5></legend>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">Отрасль науки</label>
                            <input type="text" class="form-control" [(ngModel)]="newPerson.sience.researchField" name="researchField">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">Год утверждения</label>
                            <input type="text" [(ngModel)]="newPerson.sience.statusApproveDate" [minDate]="minDate" [maxDate]="maxDate" #SienceStatusDp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker name="approveDate" class="date-picker form-control" #approveDate="ngModel">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">Специальность</label>
                            <input type="text" [(ngModel)]="newPerson.sience.statusSpeciality"  name="statusSpeciality" class="form-control">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label for="">Шифр</label>
                            <input type="text" [(ngModel)]="newPerson.sience.statusCode" name="statusCode" class="form-control">
                          </div>
                        </div>
                      </fieldset>
                      <fieldset>
                        <legend><h5>Патенты/изобретения, публикации, монографии (количество)</h5></legend>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="">Патенты</label>
                            <input type="text" class="form-control" [(ngModel)]="newPerson.sience.patentNumber" name="patentNumber">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="">Публикации</label>
                            <input type="text" class="form-control" [(ngModel)]="newPerson.sience.publicationsNumb" name="publicationsNumb">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="">Монографии</label>
                            <input type="text" [(ngModel)]="newPerson.sience.monografsNumb" class="form-control" name="monografsNumb">
                          </div>
                        </div>
                      </fieldset>
                      <fieldset>
                        <legend><h5>Правительственные награды (количество)</h5></legend>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="">Орденов</label>
                            <input type="text" class="form-control" [(ngModel)]="newPerson.sience.ordenNumb" name="ordenNumb">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="">Медалей</label>
                            <input type="text" class="form-control" [(ngModel)]="newPerson.sience.medalNumb" name="medalNumb">
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <label for="">Грамот</label>
                            <input type="text" [(ngModel)]="newPerson.sience.gramotaNumb" class="form-control" name="gramotaNumb">
                          </div>
                        </div>
                      </fieldset>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                          <a class="btn btn-primary" (click)="NextTab(2)">Назад</a>
                          <button type="reset" class="btn btn-danger">Сбросить</button>
                          <button type="submit" class="btn btn-success">Сохранить</button>
                        </div>
                    </div>
                  </tab>
                </tabset>
                <div class="alert alert-danger" *ngIf="addForm.touched &&
                                                  ((suname !== undefined && suname.invalid && suname.dirty) ||
                                                  (name !== undefined && name.invalid && name.dirty) ||
                                                  (patername !== undefined && patername.invalid && patername.dirty) ||
                                                  (nameInDativeForm !== undefined && nameInDativeForm.invalid && nameInDativeForm.dirty) ||
                                                  (establishment !== undefined && establishment.invalid && establishment.dirty) ||
                                                  (faculty !== undefined && faculty.invalid && faculty.dirty) ||
                                                  (diplomaStart !== undefined && diplomaStart.invalid && diplomaStart.dirty) ||
                                                  (diplomaNumber !== undefined && diplomaNumber.invalid && diplomaNumber.dirty) ||
                                                  (speciality !== undefined && speciality.invalid && speciality.dirty) ||
                                                  (repNumber !== undefined && repNumber.invalid && repNumber.dirty) ||
                                                  (repDate !== undefined && repDate.invalid && repDate.dirty) ||
                                                  (expGeneral !== undefined && expGeneral.invalid && expGeneral.dirty) ||
                                                  (expSpecial !== undefined && expSpecial.invalid && expSpecial.dirty) ||
                                                  (expLast !== undefined && expLast.invalid && expLast.dirty) ||
                                                  (qualification !== undefined && qualification.invalid && qualification.dirty) ||
                                                  (mainCategoryDate !== undefined && mainCategoryDate.invalid && mainCategoryDate.dirty) ||
                                                  (birthday !== undefined && birthday.invalid && birthday.dirty) ||
                                                  (cityzenship !== undefined && cityzenship.invalid && cityzenship.dirty) ||
                                                  (seria !== undefined && seria.invalid && seria.dirty) ||
                                                  (number !== undefined && number.invalid && number.dirty) ||
                                                  (pasportDate !== undefined && pasportDate.invalid && pasportDate.dirty) ||
                                                  (organ !== undefined && organ.invalid && organ.dirty) ||
                                                  (insurance !== undefined && insurance.invalid && insurance.dirty) ||
                                                  (approveDate !== undefined && approveDate.invalid && approveDate.dirty))">
                  <p>Проверьте правильность заполнения данных</p>
                  <ul>
                    <li *ngIf="addForm.touched && suname !== undefined && suname.invalid && suname.dirty">Ошибка в поле "Фамилия"</li>
                    <li *ngIf="addForm.touched && name !== undefined && name.invalid && name.dirty">Ошибка в поле "Имя"</li>
                    <li *ngIf="addForm.touched && patername !== undefined && patername.invalid && patername.dirty">Ошибка в поле "Отчество"</li>
                    <li *ngIf="addForm.touched && nameInDativeForm !== undefined && nameInDativeForm.invalid && nameInDativeForm.dirty">Ошибка в поле "ФИО в дательном падеже"</li>
                    <li *ngIf="addForm.touched && establishment !== undefined && establishment.invalid && establishment.dirty">Ошибка в поле "Учреждение образования"</li>
                    <li *ngIf="addForm.touched && faculty !== undefined && faculty.invalid && faculty.dirty">Ошибка в поле "Факультет"</li>
                    <li *ngIf="addForm.touched && diplomaStart !== undefined && diplomaStart.invalid && diplomaStart.dirty">Ошибка в поле "Дата получения диплома"</li>
                    <li *ngIf="addForm.touched && diplomaNumber !== undefined && diplomaNumber.invalid && diplomaNumber.dirty">Ошибка в поле "Номер диплома"</li>
                    <li *ngIf="addForm.touched && speciality !== undefined && speciality.invalid && speciality.dirty">Ошибка в поле "Специальность по дилому (врачебная)"</li>
                    <li *ngIf="addForm.touched && repNumber !== undefined && repNumber.invalid && repNumber.dirty">Ошибка в поле "Номер диплома по переподготовке"</li>
                    <li *ngIf="addForm.touched && repDate !== undefined && repDate.invalid && repDate.dirty">Ошибка в поле даты переподготовки</li>
                    <li *ngIf="addForm.touched && expGeneral !== undefined && expGeneral.invalid && expGeneral.dirty">Ошибка в поле "Общий стаж"</li>
                    <li *ngIf="addForm.touched && expSpecial !== undefined && expSpecial.invalid && expSpecial.dirty">Ошибка в поле "Стаж по специальности"</li>
                    <li *ngIf="addForm.touched && expLast !== undefined && expLast.invalid && expLast.dirty">Ошибка в поле "Стаж в последней должности"</li>
                    <li *ngIf="addForm.touched && qualification !== undefined && qualification.invalid && qualification.dirty">Ошибка в поле "Квалификация"</li>
                    <li *ngIf="addForm.touched && mainCategoryDate !== undefined && mainCategoryDate.invalid && mainCategoryDate.dirty">Ошибка в поле "Дата присвоения основной категории"</li>
                    <li *ngIf="addForm.touched && birthday !== undefined && birthday.invalid && birthday.dirty">Ошибка в поле "Дата рождения"</li>
                    <li *ngIf="addForm.touched && cityzenship !== undefined && cityzenship.invalid && cityzenship.dirty">Ошибка в поле "Гражданство"</li>
                    <li *ngIf="addForm.touched && seria !== undefined && seria.invalid && seria.dirty">Ошибка в поле "Серия паспорта"</li>
                    <li *ngIf="addForm.touched && number !== undefined && number.invalid && number.dirty">Ошибка в поле "Номер паспорта"</li>
                    <li *ngIf="addForm.touched && pasportDate !== undefined && pasportDate.invalid && pasportDate.dirty">Ошибка в поле "Дата получения паспорта"</li>
                    <li *ngIf="addForm.touched && organ !== undefined && organ.invalid && organ.dirty">Ошибка в поле "Орган выдавший паспорт"</li>
                    <li *ngIf="addForm.touched && insurance !== undefined && insurance.invalid && insurance.dirty">Ошибка в поле "Страховой номер"</li>
                    <li *ngIf="addForm.touched && approveDate !== undefined && approveDate.invalid && approveDate.dirty">Ошибка в поле "Дата присвоения звания"</li>
                    <li *ngIf="addForm.touched && home_phone !== undefined && home_phone.invalid && home_phone.dirty">Ошибка в поле "Домашний телефон". Проверьте соответствие формату ввода.</li>
                    <li *ngIf="addForm.touched && work_phone !== undefined && work_phone.invalid && work_phone.dirty">Ошибка в поле "Рабочий телефон". Проверьте соответствие формату ввода.</li>
                    <li *ngIf="addForm.touched && mob_phone !== undefined && mob_phone.invalid && mob_phone.dirty">Ошибка в поле "Мобильный телефон". Проверьте соответствие формату ввода.</li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

  <ng-template #setLastInfoTpl>
  <div class="modal-body">
    <div class="card">
          <div class="header"> 
            <h4 class="title">Введите данные обучения</h4>
          </div>
          <div class="content">
              <form #personInfo="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                <fieldset>
                  <legend>Форма обучения</legend>
                  <div>
                    <input type="radio" checked name="formEduc" [(ngModel)]="newPerson.belmapo_educForm" id="pay" class="regular-radio" value="1">
                    <label for="pay"></label>
                    <label>Бюджетное</label>
                  </div>
                  <div>
                    <input type="radio" name="formEduc" [(ngModel)]="newPerson.belmapo_educForm" id="budget" class="regular-radio" value="2">
                    <label for="budget"></label>
                    <label>Платное</label>
                  </div>
                  <input type="text" class="form-control" *ngIf="newPerson.belmapo_educForm == 2" required [(ngModel)]="newPerson.belmapo_paymentData" name="paymentData" placeholder="Введите номер договора">
                </fieldset>
              </div>
                  </div>
            <div class="col-md-6">
              <div class="form-group">
                <fieldset>
                  <legend>Место пребывания</legend>
                  <div>
                    <input type="radio" [(ngModel)]="newPerson.belmapo_residense" name="residence" class="regular-radio" id="resid2" value="2">
                    <label for="resid2"></label>
                    <label for="">Общежитие №2</label>
                  </div>
                  <div>
                    <input type="radio" [(ngModel)]="newPerson.belmapo_residense" name="residence" class="regular-radio" id="resid3" value="3">
                    <label for="resid3"></label>
                    <label for="">Общежитие №3</label>
                  </div>
                  <div>
                    <input type="radio" [(ngModel)]="newPerson.belmapo_residense" name="residence" class="regular-radio" id="resid4" value="4">
                    <label for="resid4"></label>
                    <label for="">Общежитие №4</label>
                  </div>
                  <div>
                    <input type="radio" [(ngModel)]="newPerson.belmapo_residense" name="residence" class="regular-radio" id="resid6" value="6">
                    <label for="resid6"></label>
                    <label for="">Своё жильё</label>
                  </div>
                </fieldset>
              </div>
            </div>
          </div>
          <div class="errors">
            <p></p>
          </div>
          <div class="text-center">
            <a (click)="SavePerson(newPerson)" class="btn btn-success">Сохранить</a>
            <a (click)="modal.hide(1)" class="btn btn-danger">Отмена</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #existTpl>
  <div class="modal-body text-center">
    <div class="card">
      <div class="content">
        <div class="header"><p>Этот слушатель уже есть в базе данных. Хотите найти его в списке базы данных?</p></div>
        <button class="btn btn-success" (click)="Confirm()">Перейти к списку</button>
        <button class="btn btn-danger" (click)="Hide()">Отмена</button>
      </div>
    </div>
  </div>
</ng-template>