<angular4-notify-notifications-container></angular4-notify-notifications-container>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <form (ngSubmit)="BuildOrder()">
        <div class="col-md-8">
          <div class="card with-hscroll">
            <div class="header">
              <h4 class="title">Выберите курс</h4>
            </div>
            <div class="content">
              <div class="form-group">
                <input type="text" (keyup)="Search($event)" class="form-control" placeholder="Введите номер курса">
              </div>
              <tabset>
                <tab heading="Текущие">
                  <div class="content table-responsive table-full-width">
                    <preloader *ngIf="!isLoaded"></preloader> 
                    <table class="table table-hover table-striped" *ngIf="isLoaded && searchResult.length === 0" >
                      <thead>
                        <th>Номер</th>
                        <th>Название</th>
                        <th>Начало</th>
                        <th>Окончание</th>
                      </thead>
                      <tbody>
                        <tr *ngIf="message !== ''">
                          <td colspan="4">{{message}}</td>
                        </tr>
                        <tr *ngFor="let course of courses" (click)="selectCourse(course)" [ngClass]="{'selected': data.selectedCourses.indexOf(course) !== -1, 'danger': course.class === 1, 'success': course.class === 2}" class="clickable-row" tooltip="Прибыло {{ course.countArr }}  Зачислено {{ course.countEntered }}  Отпучилось {{ course.countGraduated }} Отчислено {{ course.countDeducted }}">
                          <td class="uniqueId">{{ course.Number }} </td>
                          <td>{{ course.name }}</td>
                          <td>{{ course.Start | date: "dd.MM.yyyy"}}</td>
                          <td>{{ course.Finish | date: "dd.MM.yyyy"}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-hover table-striped" *ngIf="isLoaded && searchResult.length !== 0" >
                      <thead>
                          <th>Номер</th>
                          <th>Название</th>
                          <th>Начало</th>
                          <th>Окончание</th>
                        </thead>
                        <tbody>
                          <tr *ngIf="message !== ''">
                            <td colspan="4">{{message}}</td>
                          </tr>
                          <tr *ngFor="let course of searchResult" (click)="selectCourse(course)" [ngClass]="{'selected': data.selectedCourses.indexOf(course) !== -1, 'danger': course.class === 1, 'success': course.class === 2}" class="clickable-row" tooltip="Прибыло {{ course.countArr }}  Зачислено {{ course.countEntered }}  Отпучилось {{ course.countGraduated }} Отчислено {{ course.countDeducted }}">
                            <td class="uniqueId">{{ course.Number }} </td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.Start | date: "dd.MM.yyyy"}}</td>
                            <td>{{ course.Finish | date: "dd.MM.yyyy"}}</td>
                          </tr>
                        </tbody>
                    </table>
                  </div>
                </tab>
                <tab heading="Архив">
                  <archive [selectableRow]="true" (selectedCourses)="catchSelected($event)"></archive>
                </tab>
              </tabset>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="header">
              <h4 class="title">Выберите ведомость</h4>
            </div>
            <div class="content">
              <a (click)="EnterAction(2)" [ngClass]="{'selected': this.data.type === 2}" class="btn btn-block btn-default">Для подписи свидетельств</a>
              <a (click)="EnterAction(3)" [ngClass]="{'selected': this.data.type === 3}" class="btn btn-block btn-default">Ведомость собеседования ПК</a>
              <a (click)="EnterAction(4)" [ngClass]="{'selected': this.data.type === 4}" class="btn btn-block btn-default">Ведомость ГЭК</a>
              <a (click)="EnterAction(5)" [ngClass]="{'selected': this.data.type === 5}" class="btn btn-block btn-default">Ведомость защита реферата ПК</a>
              <a (click)="EnterAction(6)" [ngClass]="{'selected': this.data.type === 6}" class="btn btn-block btn-default">Ведомость экзамен ПК</a>
              <a (click)="EnterAction(7)" [ngClass]="{'selected': this.data.type === 7}" class="btn btn-block btn-default">Ведомость собеседования</a>
              <a (click)="EnterAction(8)" [ngClass]="{'selected': this.data.type === 8}" class="btn btn-block btn-default">Список группы</a>
            </div>
          </div>
        </div>
      </form>
  </div>
</div>
<ng-template #certificates>
  <div class="modal-body">
    <div class="card">
          <div class="header"> 
            <h4 class="title">Введите необходимые данные</h4>
          </div>
          <div class="content">
              <form #certificateInfo="ngForm">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label>Проректору по учебной работе <small *ngIf="prorector.touched && prorector.invalid" style="color:#f00;">Это поле обязательное</small></label>
                      <input type="text" class="form-control" required name="prorector" [(ngModel)]="data.prorector" #prorector="ngModel">
                    </div>
                    <div class="form-group">
                      <label>Заведующий кафедрой <small *ngIf="headmaster.touched && headmaster.invalid" style="color:#f00;">Это поле обязательное</small></label>
                      <input type="text" class="form-control" required name="headmaster" [(ngModel)]="data.headmaster" #headmaster="ngModel">
                    </div>
                  </div>
          </div>
          <div class="text-center">
            <a (click)="certificateInfo.valid && BuildOrder()" class="btn btn-success">Создать</a>
            <a (click)="modal.hide(1)" class="btn btn-danger">Отмена</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #examlist>
  <div class="modal-body">
    <div class="card">
      <div class="header"> 
        <h4 class="title">Введите необходимые данные</h4>
      </div>
      <div class="content">
        <form #personInfo="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Ведомость № <small *ngIf="DocNumber.touched && DocNumber.invalid" style="color:#f00;">Это поле обязательное</small></label>
                <input type="text" class="form-control" required name="prorector" [(ngModel)]="data.exam_list_numer" #DocNumber="ngModel">
              </div>
              <div class="form-group">
                <label>Дата проведения <small *ngIf="exam_date.touched && exam_date.invalid" style="color:#f00;">Это поле обязательное</small></label>
                <input type="text" #datepicker="bsDatepicker" required bsDatepicker #exam_date="ngModel" [minDate]="minDate" [maxDate]="maxDate" [(ngModel)]="data.examDate" [bsConfig]="bsConfig" class="form-control" name="exam_date">
              </div>
            </div>
            <div class="col-md-6">
              <fieldset>
                <legend>Форма контроля знаний</legend>
                <div>
                  <input type="radio" [(ngModel)]="data.exam_form" checked="checked" name="exam_form" class="regular-radio" id="exam_form2" value="Дифференцированный зачёт">
                  <label for="exam_form2"></label>
                  <label for="">Диф. зачёт</label>
                </div>
                <div>
                  <input type="radio" [(ngModel)]="data.exam_form" name="exam_form" class="regular-radio" id="exam_form3" value="Экзамен">
                  <label for="exam_form3"></label>
                  <label for="">Экзамен</label>
                </div>
                <div>
                  <input type="radio" [(ngModel)]="data.exam_form" name="exam_form" class="regular-radio" id="exam_form4" value="Собеседование">
                  <label for="exam_form4"></label>
                  <label for="">Собеседование</label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="text-center">
            <a (click)="personInfo.valid && BuildOrder()" class="btn btn-success" [attr.disabled]="personInfo.valid ? null : ''">Создать</a>
            <a (click)="modal.hide(1)" class="btn btn-danger">Отмена</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #studList>
  <div class="modal-body">
    <div class="card">
      <div class="header"> 
        <h4 class="title">Выберите дополнительные данные</h4>
      </div>
      <div class="content">
        <form #personInfo="ngForm">
          <div class="row">
            <div class="col-md-12">
              <fieldset>
                <div>
                  <input type="checkbox" name="establishmentId" class="regular-checkbox" id="establishmentId" value="establishmentId" (change)="statementInfo('establishmentId')">
                  <label for="establishmentId"></label>
                  <label for="">Учебное заведение</label>
                </div>
                <div>
                  <input type="checkbox" name="citizenship" class="regular-checkbox" id="citizenship" value="citizenship" (change)="statementInfo('cityzenship')">
                  <label for="citizenship"></label>
                  <label for="">Гражданство</label>
                </div>
                <div>
                  <input type="checkbox" name="appointment" class="regular-checkbox" id="appointment" value="appointment" (change)="statementInfo('appointment')">
                  <label for="appointment"></label>
                  <label for="">Должность</label>
                </div>
                <div>
                  <input type="checkbox" name="tel-number" class="regular-checkbox" id="tel-number" value="tel-number" (change)="statementInfo('tel_number_mobile')">
                  <label for="tel-number"></label>
                  <label for="">Номер телефона</label>
                </div>
                <div>
                  <input type="checkbox" name="organization" class="regular-checkbox" id="organization" value="organization" (change)="statementInfo('organization')">
                  <label for="organization"></label>
                  <label for="">Место работы</label>
                </div>
                <div>
                  <input type="checkbox" name="department" class="regular-checkbox" id="department" value="department" (change)="statementInfo('department')">
                  <label for="department"></label>
                  <label for="">Отдел</label>
                </div>
              </fieldset>
            </div>
          </div>
          <div class="text-center">
            <a (click)="personInfo.valid && BuildOrder(8)" class="btn btn-success" [attr.disabled]="personInfo.valid ? null : ''">Создать</a>
            <a (click)="modal.hide(1)" class="btn btn-danger">Отмена</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>