<div class="header">
  <h4 class="title">Список слушателей</h4>
  <p class="category">По ВУЗу</p>
</div>
<div class="content">
    <preloader *ngIf="establs.length === 0"></preloader>
    <accordion>
      <accordion-group [heading]="est.name + ' (' + est.Total + ')'" *ngFor="let est of establs">
        <div class="content table-responsive table-full-width">
          <table class="table-striped table table-hover">
            <thead>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Дата рождения</th>
                <th>Дата создания</th>
            </thead>
            <tbody>
                <tr  *ngFor="let doctor of est.List">
                    <td>{{ doctor.surname }}</td>
                    <td>{{ doctor.name }}</td>
                    <td>{{ doctor.patername }}</td>
                    <td>{{ doctor.birthday | date: "d MMMM yyyy"}}</td>
                    <td>{{ doctor.date | date: "d MMMM yyyy"}}</td> 
                </tr>
            </tbody>
          </table>
        </div>  
      </accordion-group>
    </accordion>
</div>