<div class="header">
  <h4 class="title">Список слушателей</h4>
  <p class="category">По полу</p>
</div>
<div class="content">
    <tabset>
      <tab heading="Мужской">
        <div class="DoctorList">
          <div class="content" (scroll)="ajaxLoadMale($event)">
            <form action="">
              <label for="">Поиск</label>
              <input type="text" class="form-control" (keyup)="SearchMale($event, 1)">
            </form>
            <table class="table-striped table table-hover" *ngIf="maleList.searchResult.length === 0">
              <thead>
                  <th>Фамилия</th>
                  <th>Имя</th>
                  <th>Отчество</th>
                  <th>Дата рождения</th>
                  <th>Дата создания</th>
              </thead>
              <tbody>
                <tr *ngIf="maleList.doctors.length == 0">
                  <td colspan="5">
                    <preloader></preloader>
                  </td>
                </tr>
                  <tr  *ngFor="let doctor of maleList.doctors" (click)="showInfo.ShowPersonalInfo(doctor)">
                      <td>{{ doctor.surname }}</td>
                      <td>{{ doctor.name }}</td>
                      <td>{{ doctor.patername }}</td>
                      <td>{{ doctor.birthday | date: "dd.MM.yyyy"}}</td>
                      <td>{{ doctor.Date | date: "dd.MM.yyyy"}}</td>
                  </tr>
              </tbody>
            </table>
            <table class="table-striped table table-hover" *ngIf="maleList.searchResult.length !== 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let search of maleList.searchResult" (click)="showInfo.ShowPersonalInfo(search)">
                        <td>{{ search.surname }}</td>
                        <td>{{ search.name }}</td>
                        <td>{{ search.patername }}</td>
                        <td>{{ search.birthday | date: "dd.MM.yyyy"}}</td>
                        <td>{{ search.Date | date: "dd.MM.yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </tab>
      <tab heading="Женский">
        <div class="DoctorList">
          <div class="content" (scroll)="ajaxLoadFemale($event)">
            <form action="">
              <label for="">Поиск</label>
              <input type="text" class="form-control" (keyup)="SearchFemale($event, 0)">
            </form>
            <table class="table-striped table table-hover" *ngIf="femaleList.searchResult.length === 0">
              <thead>
                  <th>Фамилия</th>
                  <th>Имя</th>
                  <th>Отчество</th>
                  <th>Дата рождения</th>
                  <th>Дата создания</th>
              </thead>
              <tbody>
                <tr *ngIf="femaleList.doctors.length == 0">
                  <td colspan="5">
                    <preloader></preloader>
                  </td>
                </tr>
                  <tr  *ngFor="let doctor of femaleList.doctors" (click)="showInfo.ShowPersonalInfo(doctor)">
                      <td>{{ doctor.surname }}</td>
                      <td>{{ doctor.name }}</td>
                      <td>{{ doctor.patername }}</td>
                      <td>{{ doctor.birthday | date: "dd.MM.yyyy"}}</td>
                      <td>{{ doctor.Date | date: "dd.MM.yyyy"}}</td>
                  </tr>
              </tbody>
            </table>
            <table class="table-striped table table-hover" *ngIf="femaleList.searchResult.length !== 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let search of femaleList.searchResult" (click)="showInfo.ShowPersonalInfo(search)">
                        <td>{{ search.surname }}</td>
                        <td>{{ search.name }}</td>
                        <td>{{ search.patername }}</td>
                        <td>{{ search.birthday | date: "dd.MM.yyyy"}}</td>
                        <td>{{ search.Date | date: "dd.MM.yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </tab>
    </tabset>
</div>