<div class="header">
  <h4 class="title">Список слушателей</h4>
  <p class="category">По месту работы</p>
</div>
<div class="content">
    <form action="">
        <label for="">Поиск</label>
        <input type="text" class="form-control" (keyup)="SearchOrganization($event)">
      </form>
    <preloader *ngIf="organizations.length === 0"></preloader>
    <accordion>
      <accordion-group [heading]="organ.name + ' (' + organ.Total + ')'" *ngFor="let organ of organizations">
        <div class="DoctorList">
            <div class="content table-responsive table-full-width" (scroll)="ajaxLoad($event)">
              <form action="">
                <label for="">Поиск</label>
                <input type="text" class="form-control" (keyup)="Search($event)">
              </form>
              <table class="table-striped table table-hover" *ngIf="searchDoctors.length === 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let doctor of organ.List" (click)="ShowPersonalInfo(doctor)">
                        <td>{{ doctor.surname }}</td>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.patername }}</td>
                        <td>{{ doctor.birthday | date: "d MMMM yyyy"}}</td>
                        <td>{{ doctor.Date | date: "d MMMM yyyy"}}</td>
                    </tr>
                </tbody>
              </table>
              <table class="table-striped table table-hover" *ngIf="searchDoctors.length !== 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let search of searchDoctors" (click)="ShowPersonalInfo(search)">
                        <td>{{ search.surname }}</td>
                        <td>{{ search.name }}</td>
                        <td>{{ search.patername }}</td>
                        <td>{{ search.birthday | date: "d MMMM yyyy"}}</td>
                        <td>{{ search.Date | date: "d MMMM yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
      </accordion-group>
    </accordion>
</div>