<div class="header">
  <h4 class="title">Список слушателей</h4>
  <p class="category">По месту работы</p>
</div>
<div class="content" *ngIf="message != undefined">
  <div class="alert alert-warning" > 
    <p>{{ message }}</p>
  </div>
</div>
<div class="content" *ngIf="message == undefined">
    <form action="">
        <label for="">Поиск</label>
        <input type="text" class="form-control" (keyup)="SearchEstablishment($event, searchOrg, 'job')">
      </form>
    <preloader *ngIf="organizations.length === 0"></preloader>
    <accordion *ngIf="searchOrg.length === 0">
      <accordion-group [heading]="organ.name + ' (' + organ.total + ')'" *ngFor="let organ of organizations">
        <div class="DoctorList">
            <div class="content table-responsive table-full-width" (scroll)="ajaxLoad($event, organ, 'job')">
              <form action="">
                <label for="">Поиск</label>
                <input type="text" class="form-control" (keyup)="Search($event, organ)">
              </form>
              <table class="table-striped table table-hover" *ngIf="organ.searchResult.length === 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let doctor of organ.doctors" (click)="showInfo.ShowPersonalInfo(doctor)">
                        <td>{{ doctor.surname }}</td>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.patername }}</td>
                        <td>{{ doctor.birthday | date: "dd.MM.yyyy"}}</td>
                        <td>{{ doctor.Date | date: "dd.MM.yyyy"}}</td>
                    </tr>
                </tbody>
              </table>
              <table class="table-striped table table-hover" *ngIf="organ.searchResult.length !== 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let search of organ.searchResult" (click)="showInfo.ShowPersonalInfo(search)">
                        <td>{{ search.surname }}</td>
                        <td>{{ search.name }}</td>
                        <td>{{ search.patername }}</td>
                        <td>{{ search.birthday | date: "dd.MM.yyyy"}}</td>
                        <td>{{ search.Date | date: "dd.MM.yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
      </accordion-group>
    </accordion>
    <preloader *ngIf="isLoading" path="assets/img/Elipsis.gif"></preloader>
    <button *ngIf="!isLoading && searchOrg.length === 0 && organizations.length !== 0" class="btn btn-block btn-info" (click)="estAjaxLoad('job', organizations)">Загрузить ещё</button>
    <accordion *ngIf="searchOrg.length !== 0">
      <accordion-group [heading]="organ.name + ' (' + organ.Total + ')'" *ngFor="let organ of searchOrg">
        <div class="DoctorList">
            <div class="content table-responsive table-full-width" (scroll)="ajaxLoad($event, organ, 'job')">
              <form action="">
                <label for="">Поиск</label>
                <input type="text" class="form-control" (keyup)="Search($event, organ)">
              </form>
              <table class="table-striped table table-hover" *ngIf="organ.searchResult.length === 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let doctor of organ.doctors" (click)="showInfo.ShowPersonalInfo(doctor)">
                        <td>{{ doctor.surname }}</td>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.patername }}</td>
                        <td>{{ doctor.birthday | date: "dd.MM.yyyy"}}</td>
                        <td>{{ doctor.Date | date: "dd.MM.yyyy"}}</td>
                    </tr>
                </tbody>
              </table>
              <table class="table-striped table table-hover" *ngIf="organ.searchResult.length !== 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let search of organ.searchResult" (click)="showInfo.ShowPersonalInfo(search)">
                        <td>{{ search.surname }}</td>
                        <td>{{ search.name }}</td>
                        <td>{{ search.patername }}</td>
                        <td>{{ search.birthday | date: "dd.MM.yyyy"}}</td>
                        <td>{{ search.Date | date: "dd.MM.yyyy"}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
      </accordion-group>
    </accordion>
</div>