<div class="header">
  <h4 class="title">Список слушателей</h4>
  <p class="category">По специальности</p>
</div>
<div class="content" class="DoctorList">
    
    <accordion>
      <accordion-group heading="Врачебная">
        <form action="">
          <label for="">Поиск</label>
          <input type="text" class="form-control" (keyup)="SearchDoctoral($event)">
        </form>
        <preloader *ngIf="specialities_main.length === 0"></preloader>
        <accordion>
          <accordion-group [heading]="sp.name + ' (' + sp.Total + ')'" *ngFor="let sp of specialities_main">
            <div class="content table-responsive table-full-width" (scroll)="ajaxLoad($event)">
              <form action="">
                <label for="">Поиск</label>
                <input type="text" class="form-control" (keyup)="Search($event)">
              </form>
              <table class="table-striped table table-hover" *ngIf="searchDoctors.length === 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let doctor of sp.List" (click)="ShowPersonalInfo(doctor)">
                        <td>{{ doctor.surname }}</td>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.patername }}</td>
                        <td>{{ doctor.birthday | date: "d MMMM yyyy"}}</td>
                        <td>{{ doctor.Date | date: "d MMMM yyyy"}}</td>
                    </tr>
                </tbody>
              </table>
              <table class="table-striped table table-hover" *ngIf="searchDoctors.length !== 0">
                  <thead>
                      <th>Фамилия</th>
                      <th>Имя</th>
                      <th>Отчество</th>
                      <th>Дата рождения</th>
                      <th>Дата создания</th>
                  </thead>
                  <tbody>
                      <tr  *ngFor="let search of searchDoctors" (click)="ShowPersonalInfo(search)">
                          <td>{{ search.surname }}</td>
                          <td>{{ search.name }}</td>
                          <td>{{ search.patername }}</td>
                          <td>{{ search.birthday | date: "d MMMM yyyy"}}</td>
                          <td>{{ search.Date | date: "d MMMM yyyy"}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>  
          </accordion-group>
        </accordion>
      </accordion-group>
      <accordion-group heading="По переподготовке">
        <form action="">
          <label for="">Поиск</label>
          <input type="text" class="form-control" (keyup)="SearchRetraining($event)">
        </form>
        <preloader *ngIf="specialities_retraining.length === 0"></preloader>
        <accordion>
          <accordion-group [heading]="sp.name + ' (' + sp.Total + ')'" *ngFor="let sp of specialities_retraining">
            <div class="content table-responsive table-full-width" (scroll)="ajaxLoad($event)">
              <form action="">
                <label for="">Поиск</label>
                <input type="text" class="form-control" (keyup)="Search($event)">
              </form>
              <table class="table-striped table table-hover" *ngIf="searchDoctors.length === 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let doctor of sp.List" (click)="ShowPersonalInfo(doctor)">
                        <td>{{ doctor.surname }}</td>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.patername }}</td>
                        <td>{{ doctor.birthday | date: "d MMMM yyyy"}}</td>
                        <td>{{ doctor.Date | date: "d MMMM yyyy"}}</td>
                    </tr>
                </tbody>
              </table>
              <table class="table-striped table table-hover" *ngIf="searchDoctors.length !== 0">
                  <thead>
                      <th>Фамилия</th>
                      <th>Имя</th>
                      <th>Отчество</th>
                      <th>Дата рождения</th>
                      <th>Дата создания</th>
                  </thead>
                  <tbody>
                      <tr  *ngFor="let search of searchDoctors" (click)="ShowPersonalInfo(search)">
                          <td>{{ search.surname }}</td>
                          <td>{{ search.name }}</td>
                          <td>{{ search.patername }}</td>
                          <td>{{ search.birthday | date: "d MMMM yyyy"}}</td>
                          <td>{{ search.Date | date: "d MMMM yyyy"}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>  
          </accordion-group>
        </accordion>
      </accordion-group>
      <accordion-group heading="Прочие">
        <form action="">
          <label for="">Поиск</label>
          <input type="text" class="form-control" (keyup)="SearchOther($event)">
        </form>
        <preloader *ngIf="specialities_others.length === 0"></preloader>
        <accordion>
          <accordion-group [heading]="sp.name + ' (' + sp.Total + ')'" *ngFor="let sp of specialities_others">
            <div class="content table-responsive table-full-width" (scroll)="ajaxLoad($event)">
              <form action="">
                <label for="">Поиск</label>
                <input type="text" class="form-control" (keyup)="Search($event)">
              </form>
              <table class="table-striped table table-hover" *ngIf="searchDoctors.length === 0">
                <thead>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Дата рождения</th>
                    <th>Дата создания</th>
                </thead>
                <tbody>
                    <tr  *ngFor="let doctor of sp.List" (click)="ShowPersonalInfo(doctor)">
                        <td>{{ doctor.surname }}</td>
                        <td>{{ doctor.name }}</td>
                        <td>{{ doctor.patername }}</td>
                        <td>{{ doctor.birthday | date: "d MMMM yyyy"}}</td>
                        <td>{{ doctor.Date | date: "d MMMM yyyy"}}</td>
                    </tr>
                </tbody>
              </table>
              <table class="table-striped table table-hover" *ngIf="searchDoctors.length !== 0">
                  <thead>
                      <th>Фамилия</th>
                      <th>Имя</th>
                      <th>Отчество</th>
                      <th>Дата рождения</th>
                      <th>Дата создания</th>
                  </thead>
                  <tbody>
                      <tr  *ngFor="let search of searchDoctors" (click)="ShowPersonalInfo(search)">
                          <td>{{ search.surname }}</td>
                          <td>{{ search.name }}</td>
                          <td>{{ search.patername }}</td>
                          <td>{{ search.birthday | date: "d MMMM yyyy"}}</td>
                          <td>{{ search.Date | date: "d MMMM yyyy"}}</td>
                      </tr>
                  </tbody>
              </table>
            </div>  
          </accordion-group>
        </accordion>
      </accordion-group>
    </accordion>
</div>