<div class="header">
  <h4 class="title">Статистика</h4>
  <p class="category">Список слушателей</p>
</div>
<div class="one" #one></div>
<div class="content">
    <ng-container >
      <tabset #courseLists>
        <tab>
            <ng-template tabHeading>
                <span>Действующие</span>
                <a (click)="updateList('current')" class="refresh"><span class="fa fa-refresh"></span></a>
              </ng-template>
          <preloader  *ngIf="isLoading[0]"></preloader>
          <div class="content table-responsive table-full-width" *ngIf="currentCourses.length !== 0">
            <table class="table table-striped table-hover">
              <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Набор</th>
                <th>Зачислено</th>
                <th>Инфо</th>
              </tr>
              <ng-container *ngFor="let course of currentCourses">
                <tr (click)="showListOfListners(course)" [ngClass]="{'active': course.isOpened}">
                    <td>{{course.Number}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.Start | date: "dd.MM.yy"}}</td>
                    <td>{{course.Finish | date: "dd.MM.yy"}}</td>
                    <td>{{ course.Size }}</td>
                    <td>{{ course.StudList.length }}</td>
                    <td>{{ course.Notes }}</td>
                </tr>
                <tr *ngIf="course.isOpened">
                  <td colspan="7" class="no-padding">
                    <table-list [course]="course"></table-list>
                  </td>   
                </tr>
              </ng-container>
              <tr *ngIf="message.length != 0">
                <td>{{ message }}</td>
              </tr>
            </table>
          </div>
          <div class="content">
            <div class="alert alert-warning" *ngIf="currentCourses.length === 0 && !isLoading[0]">
                <p>Список пуст</p>
            </div>
          </div>
        </tab>
        <tab>
          <ng-template tabHeading>
            <span>Прошедшие</span>
            <a (click)="updateList('old')" class="refresh"><span class="fa fa-refresh"></span></a>
          </ng-template>
          <preloader  *ngIf="isLoading[1]"></preloader>
          <div class="content table-responsive table-full-width" *ngIf="oldCourses.length !== 0 && !isLoading[1]">
            <table class="table table-striped table-hover">
              <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Набор</th>
                <th>Отучилось</th>
                <th>Инфо</th>
              </tr>
              <ng-container *ngFor="let course of oldCourses">
                <tr (click)="showListOfListners(course)" [ngClass]="{'active': course.isOpened}">
                    <td>{{course.Number}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.Start | date: "dd.MM.yy"}}</td>
                    <td>{{course.Finish | date: "dd.MM.yy"}}</td>
                    <td>{{ course.Size }}</td>
                    <td>{{ course.StudList.length }}</td>
                    <td>{{ course.Notes }}</td>
                </tr>
                <tr *ngIf="course.isOpened">
                  <td colspan="7" class="no-padding">
                    <table-list [course]="course" [disableEnter]="true"></table-list>
                  </td>   
                </tr>
              </ng-container>
              <tr *ngIf="message.length != 0">
                <td>{{ message }}</td>
              </tr>
            </table>
          </div>
          <div class="content">
            <div class="alert alert-warning" *ngIf="oldCourses.length === 0 && !isLoading[1]">
                <p>Список пуст</p>
            </div>
          </div>
        </tab>
        <tab>
            <ng-template tabHeading>
                <span>Список курсов-{{ nowYear }}</span>
                <a (click)="updateList('')" class="refresh"><span class="fa fa-refresh"></span></a>
              </ng-template>
          <preloader  *ngIf="isLoading[2]"></preloader>
          <div class="content table-responsive table-full-width" *ngIf="courseList.length !== 0 && !isLoading[2]">
            <table class="table table-striped table-hover">
              <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Набор</th>
                <th>Инфо</th>
              </tr>
              <ng-container *ngFor="let course of courseList">
                <tr (click)="showListOfListners(course)" [ngClass]="{'active': course.isOpened, 'danger': course.class === 1, 'success': course.class === 2}">
                    <td>{{course.Number}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.Start | date: "dd.MM.yy"}}</td>
                    <td>{{course.Finish | date: "dd.MM.yy"}}</td>
                    <td>{{ course.Size }}</td>
                    <td>{{ course.Notes }}</td>
                </tr>
                <tr *ngIf="course.isOpened">
                  <td colspan="6" class="no-padding">
                    <table-list [course]="course"></table-list>
                  </td>   
                </tr>
              </ng-container>
              <tr *ngIf="message.length != 0">
                <td>{{ message }}</td>
              </tr>
            </table>
          </div>
          <div class="content">
            <div class="alert alert-warning" *ngIf="courseList.length === 0 && !isLoading[2]">
                <p>Список пуст</p>
            </div>
          </div>
        </tab>
        <!-- <tab heading="Предстоящие">
          <preloader  *ngIf="isLoading"></preloader>
          <div class="content table-responsive table-full-width" *ngIf="futureCourses.length !== 0">
            <table class="table table-striped table-hover">
              <tr>
                <th>Номер</th>
                <th>Название</th>
                <th>Начало</th>
                <th>Конец</th>
                <th>Набор</th>
                <th>Инфо</th>
              </tr>
              <ng-container *ngFor="let course of futureCourses">
                <tr (click)="showListOfListners(course)" [ngClass]="{'active': course.isOpened}">
                    <td>{{course.Number}}</td>
                    <td>{{course.name}}</td>
                    <td>{{course.Start | date: "dd.MM.yy"}}</td>
                    <td>{{course.Finish | date: "dd.MM.yy"}}</td>
                    <td>{{ course.Size }}</td>
                    <td>{{ course.Notes }}</td>
                </tr>
                <tr *ngIf="course.isOpened">
                  <td colspan="6" class="no-padding">
                    <table-list [course]="course"></table-list>
                  </td>   
                </tr>
              </ng-container>
              <tr *ngIf="message.length != 0">
                <td>{{ message }}</td>
              </tr>
            </table>
          </div>
          <div class="content">
            <div class="alert alert-warning" *ngIf="futureCourses.length === 0 && !isLoading">
                <p>Список пуст</p>
            </div>
          </div>
        </tab> -->
        <tab heading="Архив" (select)="getArchive()">
          <archive></archive>
        </tab>
      </tabset>
    </ng-container>
</div>