<table class="table table-hover text-center">
    <thead>
        <tr>
            <th>№</th>
            <th>Дата выдачи</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Оценка</th>
            <th>Номер документа</th>
            <th colspan="2">Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="inputList && inputList.length == 0" class="no-hover">
            <td colspan="9" align="center">
                <div class="alert alert-warning">
                    <p>Список пуст</p>
                </div>
            </td>
        </tr>
        <ng-container *ngIf="inputList && inputList.length != 0">
            <tr *ngFor="let person of inputList; index as i">
                <td>{{ i + 1 }}</td>
                <td>{{ person.DateGet | date: "dd.MM.yyyy" }}</td>
                <td>{{ person.surname }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.patername }}</td>
                <td>{{ person.Mark }}</td>
                <td>{{ person.DocNumber }}</td>
                <td colsnap="2"></td>
            </tr>
        </ng-container>   
    </tbody>
</table>
<ng-template #sure>
    <div class="modal-body text-center">
        <p>Вы уверены, что хотите отчислить этого слушателя?</p>
        <div>
            <button class="btn btn-success" (click)="Yes()">Да</button>
            <button class="btn btn-danger" (click)="No()">Нет</button>
        </div>
    </div>
</ng-template>
<ng-template #sureBeforeEnd>
    <div class="modal-body text-center">
        <p>Вы уверены, что хотите досрочно отчислить этого слушателя?</p>
        <div>
            <button class="btn btn-success" (click)="YesBefore()">Да</button>
            <button class="btn btn-danger" (click)="No()">Нет</button>
        </div>
    </div>
</ng-template>
<ng-template #DeductInfo>
    <div class="modal-body row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header"><h4>Внесите данные отчисления</h4></div>
                <div class="content row">
                    <form (ngSubmit)="deductForm.valid && DeductConfirm()" #deductForm="ngForm" novalidate>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>Дата отчисления</label>
                            <input [minDate]="global.minDate" [maxDate]="global.maxDate" #RetrainingDp="bsDatepicker" [bsConfig]="global.bsConfig" bsDatepicker [(ngModel)]="certificate.DateGetDate" required name="sertificate_start" class="date-picker form-control">
                        </div>
                        <div class="form-group col-lg-6 col-md-6">
                            <label>Оценка</label>
                            <select *ngIf="marks.length !== 0" class="form-control" name="mark" [(ngModel)]="certificate.mark" required>
                                <option *ngFor="let mark of marks" value="{{ mark.id }}">{{ mark.value }}</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 text-center">
                            <button class="btn btn-success" type="submit">Отчислить</button>
                            <button class="btn btn-danger" type="button" (click)="Cansel($event)">Отмена</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-template>
<ng-template #DeductBeforeInfo>
    <div class="modal-body row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="header"><h4>Внесите данные отчисления</h4></div>
                <div class="content row">
                    <form (ngSubmit)="deductBeforeForm.valid && DeductBeforeConfirm(deductinfo)" #deductBeforeForm="ngForm" novalidate>
                        <div class="form-group col-lg-4 col-md-4">
                            <label>Дата отчисления (в приказе)</label>
                            <input [minDate]="global.minDate" [maxDate]="global.maxDate" #RetrainingDp="bsDatepicker" [bsConfig]="global.bsConfig" bsDatepicker [(ngModel)]="deductinfo.DateGetDate" required name="sertificate_start" class="date-picker form-control">
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                            <label>Номер приказа</label>
                            <input type="text" name="orderNumber" [(ngModel)]="deductinfo.orderNumber" class="form-control">
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                            <label>Причина</label>
                            <input type="text" name="reason" [(ngModel)]="deductinfo.reason" class="form-control">
                        </div>
                        <div class="form-group col-lg-12 col-md-12 text-center">
                            <button class="btn btn-success" type="submit">Отчислить</button>
                            <button class="btn btn-danger" (click)="Cansel($event)">Отмена</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</ng-template>